Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

go-mod-tidy:
  name: go mod tidy
  entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
  language: system
  pass_filenames: true

go-generate:
  name: go generate
  entry: go generate ./...
  language: system
  pass_filenames: false

refactor(sve): improve data source error handling and testing
  internal/sensor_visibility_exclusion/export_test.go
  internal/sensor_visibility_exclusion/sensor_visibility_exclusions_data_source.go
  internal/sensor_visibility_exclusion/sensor_visibility_exclusions_data_source_test.go
Due: go-generate

add list resource for host group
  docs/resources/host_group.md
  examples/list-resources/crowdstrike_host_group/list.tfquery.hcl
  examples/list-resources/crowdstrike_host_group/main.tf
  go.mod
  go.sum
  internal/data_protection/content_pattern_resource.go
  internal/framework/planmodifiers/string.go
  internal/host_groups/host_group_list_resource.go
  internal/host_groups/host_group_resource.go
  internal/provider/provider.go
Due: go-mod-tidy, go-generate

docs: improve plan-tf-resource skill workflow and add reference example (#271)
  .claude/skills/plan-tf-resource/SKILL.md
  .claude/skills/plan-tf-resource/examples/ioa-exclusion-issue.md
  .github/workflows/ci.yml
  go.mod
  go.sum
Due: go-mod-tidy

feat: add sensor_visibility_exclusions data source (#206)
  docs/data-sources/sensor_visibility_exclusions.md
  examples/data-sources/crowdstrike_sensor_visibility_exclusions/data-source.tf
  internal/provider/provider.go
  internal/sensor_visibility_exclusion/export_test.go
  internal/sensor_visibility_exclusion/sensor_visibility_exclusions_data_source.go
  internal/sensor_visibility_exclusion/sensor_visibility_exclusions_data_source_test.go
Due: go-generate

feat: add prefix/suffix to DSPM and vulnerability scanning default role names
  internal/fcs/cloud_aws_account.go
  internal/fcs/modifiers.go
Due: go-generate

custom ioa rules
  docs/resources/ioa_rule_group.md
  internal/ioa_rule_group/ioa_rule_group_resource.go
  internal/ioa_rule_group/ioa_rule_group_resource_test.go
Due: go-generate

go mod tidy
  go.sum
Due: go-mod-tidy

fix tests
  internal/cloud_security/custom_rule_resource_test.go
Due: go-generate

add extra validators
  internal/cloud_security/custom_rule_resource.go
  internal/cloud_security/custom_rule_resource_test.go
  internal/cloud_security/custom_rule_validators.go
  internal/cloud_security/custom_rule_validators_test.go
Due: go-generate

ioa rule group
  docs/resources/ioa_rule_group.md
  examples/resources/crowdstrike_ioa_rule_group/import.sh
  examples/resources/crowdstrike_ioa_rule_group/resource.tf
  internal/ioa_rule_group/resource.go
  internal/ioa_rule_group/resource_test.go
  internal/ioa_rule_group/scopes.go
  internal/provider/provider.go
Due: go-generate

Refactor KAC custom rego rule into separate resource
  internal/cloud_security/custom_kac_rule_resource.go
  internal/cloud_security/custom_kac_rule_resource_test.go
  internal/cloud_security/custom_rule_resource.go
  internal/cloud_security/custom_rule_validators.go
  internal/cloud_security/custom_rule_validators_test.go
  internal/cloud_security/shared.go
  internal/provider/provider.go
Due: go-generate

Pruning unused logic
  internal/cloud_security/custom_kac_rule_resource.go
  internal/cloud_security/custom_kac_rule_resource_test.go
  internal/cloud_security/custom_rule_resource_test.go
  internal/cloud_security/shared.go
Due: go-generate

Readding optional fields
  internal/cloud_security/custom_kac_rule_resource.go
  internal/cloud_security/custom_kac_rule_resource_test.go
  internal/cloud_security/custom_rule_resource_test.go
  internal/cloud_security/shared.go
  internal/cloud_security/shared_config_test.go
Due: go-generate

Update error comments
  internal/cloud_security/custom_kac_rule_resource_test.go
Due: go-generate

update tfeerrors
  docs/resources/cloud_security_kac_custom_rule.md
  examples/resources/crowdstrike_cloud_security_kac_custom_rule/import.sh
  examples/resources/crowdstrike_cloud_security_kac_custom_rule/resource.tf
  internal/cloud_security/custom_kac_rule_resource.go
  internal/cloud_security/custom_kac_rule_resource_test.go
  internal/cloud_security/shared.go
Due: go-generate

add tests
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/export_test.go
Due: go-generate

update
  internal/fcs/cloud_aws_account.go
  internal/fcs/utils.go
  internal/fcs/utils_test.go
Due: go-generate

feat: add user_group resource
  docs/resources/user_group.md
  examples/resources/crowdstrike_user_group/import.sh
  examples/resources/crowdstrike_user_group/resource.tf
  internal/provider/provider.go
  internal/user_group/scopes.go
  internal/user_group/user_group_resource.go
  internal/user_group/user_group_resource_test.go
Due: go-generate

test: improve user_group acceptance tests and add sweepers
  internal/sweep/sweep_test.go
  internal/user_group/sweep.go
  internal/user_group/user_group_resource_test.go
Due: go-generate

fix PR comments
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/modifiers_test.go
Due: go-generate

feat(cloud_google_registration): change excluded_project_patterns from regex to wildcard syntax (#288)
  docs/resources/cloud_google_registration.md
  examples/resources/crowdstrike_cloud_google_registration/resource.tf
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_test.go
Due: go-generate

feat: add ioa_rule_group resource
  docs/resources/ioa_rule_group.md
  examples/resources/crowdstrike_ioa_rule_group/import.sh
  examples/resources/crowdstrike_ioa_rule_group/resource.tf
  go.mod
  go.sum
  internal/ioa_rule_group/ioa_rule_group_resource.go
  internal/ioa_rule_group/ioa_rule_group_resource_test.go
  internal/provider/provider.go
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
Due: go-mod-tidy, go-generate

Use cloudtrail bucket from backend after BE added supported for region change
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/modifiers.go
Due: go-generate

fix: improve Azure tenant error handling with explicit scope requirements
  internal/fcs/cloud_azure_tenant_eventhub_settings.go
  internal/fcs/cloud_azure_tenant_resource.go
Due: go-generate

fix: golangci-lint errors in scopes package
  internal/scopes/scopes.go
Due: go-generate

Use resource plan modifier for cloudtrail_region
  go.mod
  go.sum
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/modifiers.go
Due: go-mod-tidy, go-generate

Use statecheck and plancheck APIs in cloudtrail_region tests
  go.sum
  internal/fcs/cloud_aws_account_test.go
Due: go-mod-tidy, go-generate

Handle unknown cloudtrail_region in ModifyPlan
  internal/fcs/cloud_aws_account.go
Due: go-generate

fix(cloud_aws_account): nil pointer dereference in wrap() on provider upgrade (#297)
  internal/fcs/cloud_aws_account.go
Due: go-generate

fix: use tferrors package for standardized error handling
  internal/fcs/cloud_azure_tenant_eventhub_settings.go
  internal/fcs/cloud_azure_tenant_resource.go
  internal/fcs/errors.go
Due: go-generate

feat(cloud_security_kac_policy): add custom rules to rule groups
  docs/resources/cloud_security_kac_policy.md
  examples/resources/crowdstrike_cloud_security_kac_policy/resource.tf
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_custom_rules.go
  internal/cloud_security/kac_policy_resource_default_rules.go
  internal/cloud_security/kac_policy_resource_rule_group.go
  internal/cloud_security/kac_policy_resource_test.go
Due: go-generate

Update remediation, attack types, and alert info schema
  docs/resources/cloud_security_kac_custom_rule.md
  examples/resources/crowdstrike_cloud_security_kac_custom_rule/resource.tf
  go.sum
  internal/cloud_security/custom_kac_rule_resource.go
  internal/cloud_security/custom_rule_resource.go
  internal/cloud_security/custom_rule_resource_test.go
  internal/cloud_security/rules_data_source.go
  internal/cloud_security/shared.go
  internal/cloud_security/shared_config_test.go
Due: go-mod-tidy, go-generate

Use cloudtrail bucket from backend after BE added supported for region change (#295)
  go.mod
  go.sum
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
Due: go-mod-tidy, go-generate

Path conditions:
  go-mod-tidy: any of: ^go\.(mod|sum)$
  go-generate: any of: ^(examples/.*|internal/.*\.go)$
