Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.4
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: true

      - id: go-generate
        name: go generate
        entry: go generate ./...
        language: system
        files: ^(examples/.*|internal/.*\.go)$
        pass_filenames: false

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.100.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_validate
        args:
          - --args=-json
        files: ^examples/resources/.*\.tf$
        exclude: ^examples/provider/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key
      - id: detect-aws-credentials

Allow disabling sensor updates in crowdstrike_sensor_update_policy resource (#127)
  docs/data-sources/content_category_versions.md
  docs/resources/sensor_update_policy.md
  docs/resources/sensor_update_policy_host_group_attachment.md
  go.mod
  go.sum
  internal/content_update_policy/content_category_versions_data_source.go
  internal/sensor_update_policy/sensor_update_policy_host_group_attachment.go
  internal/sensor_update_policy/sensor_update_policy_resource.go
  internal/sensor_update_policy/sensor_update_policy_resource_test.go
Due: go-mod-tidy, go-generate

add more checks
  .golangci.yml
  CONTRIBUTING.md
  internal/host_groups/host_group_resource.go
  internal/sensor_visibility_exclusion/sensor_visibility_exclusion_resource_test.go
  internal/utils/debug.go
  tools/resource/gen.go
Due: go-generate

update default_sensor_update_policy to require replace
  docs/resources/default_sensor_update_policy.md
  internal/sensor_update_policy/default_sensor_update_policy_resource.go
Due: go-generate

update default_sensor_update_policy to require replace (#128)
  docs/resources/default_sensor_update_policy.md
  internal/sensor_update_policy/default_sensor_update_policy_resource.go
Due: go-generate

add pre-commit to repo (#129)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .golangci.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  GNUmakefile
  README.md
  docs/importing.md
  examples/resources/crowdstrike_cloud_aws_account/import.sh
  examples/resources/crowdstrike_cloud_azure_tenant/import.sh
  examples/resources/crowdstrike_default_content_update_policy/import.sh
  examples/resources/crowdstrike_default_prevention_policy_linux/import.sh
  examples/resources/crowdstrike_default_prevention_policy_mac/import.sh
  examples/resources/crowdstrike_default_prevention_policy_windows/import.sh
  examples/resources/crowdstrike_default_sensor_update_policy/import.sh
  examples/resources/crowdstrike_filevantage_policy/import.sh
  examples/resources/crowdstrike_filevantage_rule_group/import.sh
  examples/resources/crowdstrike_host_group/import.sh
  examples/resources/crowdstrike_prevention_policy_attachment/import.sh
  examples/resources/crowdstrike_prevention_policy_linux/import.sh
  examples/resources/crowdstrike_prevention_policy_mac/import.sh
  examples/resources/crowdstrike_prevention_policy_windows/import.sh
  examples/resources/crowdstrike_sensor_update_policy/import.sh
  examples/resources/crowdstrike_sensor_update_policy_host_group_attachment/import.sh
  internal/content_update_policy/content_update_policy_resource_test.go
  internal/fim/fim_test.go
  internal/host_groups/host_group_resource.go
  internal/prevention_policy/windows_test.go
  internal/sensor_update_policy/default_sensor_update_policy_resource_test.go
  internal/sensor_update_policy/sensor_update_policy_resource_test.go
  internal/sensor_visibility_exclusion/sensor_visibility_exclusion_resource_test.go
  internal/utils/debug.go
  templates/data-sources.md.tmpl
  templates/resources.md.tmpl
  tools/resource/gen.go
  tools/resource/import.tpl
  tools/resource/resource.tpl
Due: go-generate

fix: Correct scopes description for required permissions (#125)
  docs/data-sources/content_category_versions.md
  docs/data-sources/sensor_update_policy_builds.md
  internal/scopes/scopes.go
Due: go-generate

chore(docs): add commit message standards and template
  .gitmessage
  CONTRIBUTING.md
Due: none

chore(docs): add commit message standards and template (#130)
  .gitmessage
  CONTRIBUTING.md
Due: none

chore(tools): add basic devcontainer
  .devcontainer/devcontainer.json
Due: none

chore(tools): add basic devcontainer (#131)
  .devcontainer/devcontainer.json
Due: none

feat: Add user management resources and data sources
  docs/data-sources/user.md
  docs/data-sources/user_roles.md
  docs/resources/user.md
  docs/resources/user_role_assignments.md
  examples/data-sources/crowdstrike_user_data_source/data-source.tf
  examples/data-sources/crowdstrike_user_roles_data_source/data-source.tf
  examples/resources/crowdstrike_user/import.sh
  examples/resources/crowdstrike_user/resource.tf
  examples/resources/crowdstrike_user_role_assignment/import.sh
  examples/resources/crowdstrike_user_role_assignment/resource.tf
  internal/acctest/acctest.go
  internal/provider/provider.go
  internal/user/common.go
  internal/user/scopes.go
  internal/user/user.go
  internal/user/user_data_source.go
  internal/user/user_data_source_test.go
  internal/user/user_role_assignments.go
  internal/user/user_role_assignments_test.go
  internal/user/user_roles_data_source.go
  internal/user/user_roles_data_sources_test.go
  internal/user/user_test.go
Due: go-generate

AWS registration: Fix to allow empty IOA resources for commercial accounts in gov
  go.mod
  go.sum
  internal/fcs/cloud_aws_account.go
Due: go-mod-tidy, go-generate

test(sensor_visibility_exclusion): fix race conditions by using unique test paths
  internal/sensor_visibility_exclusion/sensor_visibility_exclusion_resource_test.go
Due: go-generate

Add FALCON_CLOUD environment variable to CI workflow
  .github/workflows/ci.yml
Due: none

Update test paths to use generateTestPath for uniqueness
  internal/sensor_visibility_exclusion/sensor_visibility_exclusion_resource_test.go
Due: go-generate

test(sensor_visibility_exclusion): fix race conditions by using unique test paths (#135)
  .github/workflows/ci.yml
  internal/sensor_visibility_exclusion/sensor_visibility_exclusion_resource_test.go
Due: go-generate

AWS registration: Fix to allow empty IOA resources for commercial accounts in gov
  .devcontainer/devcontainer.json
  .gitmessage
  docs/resources/cloud_aws_account.md
  go.mod
  go.sum
  internal/fcs/cloud_aws_account.go
Due: go-mod-tidy, go-generate

feat: add content_update_policy_precedence resource
  .devcontainer/devcontainer.json
  .gitmessage
  docs/resources/content_update_policy_precedence.md
  examples/resources/crowdstrike_content_update_policy_precedence/resource.tf
  internal/content_update_policy/content_update_policy_precedence.go
  internal/content_update_policy/content_update_policy_precedence_test.go
  internal/provider/provider.go
Due: go-generate

Add FileVantage policy precedence resource
  docs/resources/filevantage_policy_precedence.md
  examples/resources/crowdstrike_filevantage_policy_precedence/resource.tf
  internal/fim/filevantage_policy_precedence.go
  internal/fim/filevantage_policy_precedence_test.go
  internal/provider/provider.go
Due: go-generate

feat: add content_update_policy_precedence resource (#141)
  .devcontainer/devcontainer.json
  .gitmessage
  docs/resources/content_update_policy_precedence.md
  examples/resources/crowdstrike_content_update_policy_precedence/resource.tf
  internal/content_update_policy/content_update_policy_precedence.go
  internal/content_update_policy/content_update_policy_precedence_test.go
  internal/provider/provider.go
Due: go-generate

feat: add crowdstrike_filevantage_policy_precedence resource (#142)
  docs/resources/filevantage_policy_precedence.md
  examples/resources/crowdstrike_filevantage_policy_precedence/resource.tf
  internal/fim/filevantage_policy_precedence.go
  internal/fim/filevantage_policy_precedence_test.go
  internal/provider/provider.go
Due: go-generate

Replace pointer structs with types.Object in prevention policy models
  internal/prevention_policy/default_linux_policy.go
  internal/prevention_policy/default_mac_policy.go
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/linux.go
  internal/prevention_policy/mac.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
  internal/prevention_policy/windows_test.go
Due: go-generate

Refactor prevention policy validation to handle unknown state
  internal/prevention_policy/default_mac_policy.go
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/mac.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
Due: go-generate

Fix time blocks handling in sensor update policy resources
  internal/sensor_update_policy/default_sensor_update_policy_resource.go
  internal/sensor_update_policy/default_sensor_update_policy_resource_test.go
  internal/sensor_update_policy/sensor_update_policy_resource.go
  internal/sensor_update_policy/sensor_update_policy_resource_test.go
  internal/sensor_update_policy/shared.go
Due: go-generate

Refactor scheduler handling and add VS Code debug config
  .vscode/launch.json
  internal/sensor_update_policy/default_sensor_update_policy_resource.go
  internal/sensor_update_policy/sensor_update_policy_resource.go
  main.go
Due: go-generate

Replace context.Background() with proper context parameter
  .vscode/launch.json
  internal/provider/provider.go
  internal/sensor_update_policy/default_sensor_update_policy_resource.go
  internal/sensor_update_policy/sensor_update_policy_resource.go
  internal/sensor_visibility_exclusion/sensor_visibility_exclusion_resource_test.go
Due: go-generate

Use context.Background() instead of passed context in provider config
  internal/provider/provider.go
Due: go-generate

Update actions/checkout from v4.1.1 to v5.0.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Update GitHub Actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: downgrade golangci-lint-action from v8.0.0 to v4.0.0
  .github/workflows/ci.yml
Due: none

fix conversion errors when values are unkown (#143)
  .vscode/launch.json
  internal/prevention_policy/default_linux_policy.go
  internal/prevention_policy/default_mac_policy.go
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/linux.go
  internal/prevention_policy/mac.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
  internal/prevention_policy/windows_test.go
  internal/sensor_update_policy/default_sensor_update_policy_resource.go
  internal/sensor_update_policy/default_sensor_update_policy_resource_test.go
  internal/sensor_update_policy/sensor_update_policy_resource.go
  internal/sensor_update_policy/sensor_update_policy_resource_test.go
  internal/sensor_update_policy/shared.go
  internal/sensor_visibility_exclusion/sensor_visibility_exclusion_resource_test.go
  main.go
Due: go-generate

update github action versions (#144)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Add workflow_dispatch trigger to CI workflow
  .github/workflows/ci.yml
Due: none

Add workflow_dispatch trigger to CI workflow (#145)
  .github/workflows/ci.yml
Due: none

Update Terraform version check to 1.12.0
  internal/prevention_policy/default_windows_policy_test.go
Due: go-generate

Update Terraform version check to 1.12.0 (#146)
  internal/prevention_policy/default_windows_policy_test.go
Due: go-generate

Initial commit with working provider for review 9 11 25
  internal/it_automation/errors.go
  internal/it_automation/it_automation_default_policy_resource.go
  internal/it_automation/it_automation_policy_precedence_resource.go
  internal/it_automation/it_automation_policy_resource.go
  internal/it_automation/it_automation_task_group_resource.go
  internal/it_automation/it_automation_task_resource.go
  internal/it_automation/scopes.go
  internal/it_automation/shared.go
  internal/provider/provider.go
Due: go-generate

AWS registration: Fix to allow empty IOA resources for commercial accounts in gov
  internal/fcs/cloud_aws_account.go
Due: go-generate

Added examples and logic tweaks
  examples/resources/crowdstrike_it_automation_default_policy/import.sh
  examples/resources/crowdstrike_it_automation_default_policy/resource.tf
  examples/resources/crowdstrike_it_automation_policy/import.sh
  examples/resources/crowdstrike_it_automation_policy/resource.tf
  examples/resources/crowdstrike_it_automation_policy_precedence/import.sh
  examples/resources/crowdstrike_it_automation_policy_precedence/resource.tf
  examples/resources/crowdstrike_it_automation_task/import.sh
  examples/resources/crowdstrike_it_automation_task/resource.tf
  examples/resources/crowdstrike_it_automation_task_group/import.sh
  examples/resources/crowdstrike_it_automation_task_group/resource.tf
  internal/it_automation/it_automation_default_policy_resource.go
  internal/it_automation/it_automation_policy_precedence_resource.go
  internal/it_automation/it_automation_policy_resource.go
  internal/it_automation/it_automation_task_group_resource.go
  internal/it_automation/it_automation_task_resource.go
  internal/it_automation/shared.go
Due: go-generate

fix provider.go to match upstream
  internal/provider/provider.go
Due: go-generate
