Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

go-mod-tidy:
  name: go mod tidy
  entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
  language: system
  pass_filenames: true

go-generate:
  name: go generate
  entry: go generate ./...
  language: system
  pass_filenames: false

terraform type for Policies
  internal/prevention_policy/prevention_policies_data_source.go
Due: go-generate

add name and description filters
  internal/prevention_policy/prevention_policies_data_source.go
Due: go-generate

single example file
  examples/data-sources/crowdstrike_prevention_policies/data-source.tf
  examples/data-sources/crowdstrike_prevention_policies_all/data-source.tf
  examples/data-sources/crowdstrike_prevention_policies_attributes/data-source.tf
  examples/data-sources/crowdstrike_prevention_policies_filter/data-source.tf
  examples/data-sources/crowdstrike_prevention_policies_ids/data-source.tf
Due: go-generate

generate
  docs/data-sources/prevention_policies.md
Due: none

update gofcon version
  go.mod
  go.sum
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_data_source.go
  internal/fcs/utils.go
  internal/fcs/utils_test.go
Due: go-mod-tidy, go-generate

feat(crowdstrike_cloud_aws_account): rename test variable
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

feat(real_time_visibility_and_detection): adds new s3 log ingestion method
  go.mod
  go.sum
Due: go-mod-tidy

feat(real_time_visibility_and_detection): adds new s3 log ingestion method
  internal/fcs/cloud_aws_account.go
Due: go-generate

fix(cloud_aws_account): correct realtime_visibility default values
  docs/resources/cloud_aws_account.md
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/modifiers.go
Due: go-generate

fix(cloud_aws_account): correct realtime_visibility default values (#177)
  docs/resources/cloud_aws_account.md
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/modifiers.go
Due: go-generate

test(cloud_security): add conditional skip for Rego custom rule tests
  internal/cloud_security/custom_rule_resource_test.go
Due: go-generate

use "test" for resource name
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

fix tests
  internal/it_automation/it_automation_task_group_resource_test.go
  internal/it_automation/it_automation_task_resource_test.go
  internal/it_automation/shared_test.go
Due: go-generate

remove third party dependency
  go.mod
  internal/fcs/utils_test.go
Due: go-mod-tidy, go-generate

test: replace type assertion with string check for 404 errors
  internal/it_automation/shared_test.go
Due: go-generate

add agentless scanning attributes to cloud_aws_account (#169)
  docs/data-sources/cloud_aws_account.md
  docs/resources/cloud_aws_account.md
  examples/resources/crowdstrike_cloud_aws_account/resource.tf
  go.mod
  go.sum
  internal/cloud_security/custom_rule_resource_test.go
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_data_source.go
  internal/fcs/cloud_aws_account_data_source_test.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/modifiers.go
  internal/fcs/utils.go
  internal/fcs/utils_test.go
  internal/it_automation/it_automation_task_group_resource_test.go
  internal/it_automation/it_automation_task_resource_test.go
  internal/it_automation/shared_test.go
Due: go-mod-tidy, go-generate

content update policy data source
  docs/data-sources/content_update_policies.md
  examples/data-sources/crowdstrike_content_update_policies_all/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_attributes/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_filter/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_ids/data-source.tf
  internal/content_update_policy/content_update_policies_data_source.go
  internal/content_update_policy/content_update_policies_data_source_test.go
  internal/provider/provider.go
Due: go-generate

one example file
  examples/data-sources/crowdstrike_content_update_policies/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_all/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_attributes/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_filter/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_ids/data-source.tf
Due: go-generate

data source docs
  docs/data-sources/content_update_policies.md
Due: none

name and description filters
  internal/content_update_policy/content_update_policies_data_source.go
  internal/content_update_policy/content_update_policies_data_source_test.go
Due: go-generate

generate
  docs/data-sources/content_update_policies.md
Due: none

sensor update policy data source
  docs/data-sources/sensor_update_policies.md
  examples/data-sources/crowdstrike_sensor_update_policies/data-source.tf
  internal/provider/provider.go
  internal/sensor_update_policy/sensor_update_policies_data_source.go
  internal/sensor_update_policy/sensor_update_policies_data_source_test.go
Due: go-generate

add pagination
  internal/prevention_policy/prevention_policies_data_source.go
Due: go-generate

remove unnecessary id field from prevention_policies data source
  internal/prevention_policy/prevention_policies_data_source.go
Due: go-generate

use utils.MarkdownDescription and read-only scopes for prevention_policies data source
  internal/prevention_policy/api.go
  internal/prevention_policy/prevention_policies_data_source.go
Due: go-generate

feat(real_time_visibility_and_detection): adds new s3 log ingestion method
  internal/cloud_security/custom_rule_resource_test.go
Due: go-generate

rename groups field to host_groups in prevention_policies data source
  internal/prevention_policy/prevention_policies_data_source.go
Due: go-generate

update test
  internal/prevention_policy/prevention_policies_data_source_test.go
Due: go-generate

add length validation for ids in prevention_policies data source
  internal/prevention_policy/prevention_policies_data_source.go
Due: go-generate

update gofalcon dependency to v0.18.1-0.20251114001901
  go.mod
  go.sum
Due: go-mod-tidy

update gofalcon dependency to v0.18.1-0.20251114005344
  go.mod
  go.sum
Due: go-mod-tidy

handle 404 responses gracefully in prevention_policies data source
  internal/prevention_policy/prevention_policies_data_source.go
  internal/prevention_policy/prevention_policies_data_source_test.go
Due: go-generate

lint changes
  docs/data-sources/prevention_policies.md
  examples/data-sources/crowdstrike_prevention_policies/data-source.tf
  internal/cloud_security/custom_rule_resource_test.go
Due: go-generate

refactor prevention policies data source test structure
  internal/prevention_policy/prevention_policies_data_source_test.go
Due: go-generate

test formatting
  internal/prevention_policy/prevention_policies_data_source_test.go
Due: go-generate

add test verifying data source matches created resource
  internal/acctest/acctest.go
  internal/prevention_policy/prevention_policies_data_source_test.go
Due: go-generate

improve prevention_policies data source ResourceMatch test
  internal/prevention_policy/prevention_policies_data_source_test.go
Due: go-generate

remove unnecessary comments from prevention_policies data source tests
  internal/prevention_policy/prevention_policies_data_source_test.go
Due: go-generate

refactor prevention policies data source validation test to use table-driven approach with parallel execution
  internal/prevention_policy/prevention_policies_data_source_test.go
Due: go-generate

Path conditions:
  go-mod-tidy: any of: ^go\.(mod|sum)$
  go-generate: any of: ^(examples/.*|internal/.*\.go)$
