Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

go-mod-tidy:
  name: go mod tidy
  entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
  language: system
  pass_filenames: true

go-generate:
  name: go generate
  entry: go generate ./...
  language: system
  pass_filenames: false

chore: Bump gofalcon v0.19.1-0.20260204001600-0a2edd56b85d (#257)
  go.mod
  go.sum
Due: go-mod-tidy

feat: add us-gov-2 cloud region support (#256)
  docs/index.md
  go.mod
  go.sum
  internal/provider/provider.go
Due: go-mod-tidy, go-generate

docs: add plan-tf-resource skill for Terraform resource planning
  .claude/skills/plan-tf-resource/SKILL.md
Due: none

feat: add data_protection_content_pattern resource
  docs/resources/data_protection_content_pattern.md
  examples/resources/crowdstrike_data_protection_content_pattern/import.sh
  examples/resources/crowdstrike_data_protection_content_pattern/resource.tf
  internal/data_protection/content_pattern_resource.go
  internal/data_protection/content_pattern_resource_test.go
  internal/framework/flex/int32.go
  internal/framework/flex/int32_test.go
  internal/provider/provider.go
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
Due: go-generate

refactor: rename data_protection_content_pattern to dataprotection_content_pattern
  docs/resources/dataprotection_content_pattern.md
  examples/resources/crowdstrike_data_protection_content_pattern/import.sh
  examples/resources/crowdstrike_dataprotection_content_pattern/import.sh
  examples/resources/crowdstrike_dataprotection_content_pattern/resource.tf
  internal/data_protection/content_pattern_resource.go
  internal/data_protection/content_pattern_resource_test.go
Due: go-generate

initial commit
  internal/cloud_security/rules_data_source.go
  internal/cloud_security/rules_data_source_test.go
Due: go-generate

feat(cloud-security): Add type to cloud security rules data source
  docs/data-sources/cloud_security_rules.md
  internal/cloud_security/rules_data_source.go
  internal/cloud_security/rules_data_source_test.go
  internal/cloud_security/shared_config_test.go
Due: go-generate

Renaming type to rule origin
  docs/data-sources/cloud_security_rules.md
  internal/cloud_security/rules_data_source.go
  internal/cloud_security/rules_data_source_test.go
Due: go-generate

feat(cloud-security): add rule_origin filter to cloud security rules data source (#261)
  docs/data-sources/cloud_security_rules.md
  internal/cloud_security/rules_data_source.go
  internal/cloud_security/rules_data_source_test.go
  internal/cloud_security/shared_config_test.go
Due: go-generate

docs: add plan-tf-resource skill for Terraform resource planning (#259)
  .claude/skills/plan-tf-resource/SKILL.md
Due: none

Revert "refactor: rename data_protection_content_pattern to dataprotection_content_pattern"
  docs/resources/data_protection_content_pattern.md
  examples/resources/crowdstrike_data_protection_content_pattern/import.sh
  examples/resources/crowdstrike_data_protection_content_pattern/resource.tf
  examples/resources/crowdstrike_dataprotection_content_pattern/import.sh
  internal/data_protection/content_pattern_resource.go
  internal/data_protection/content_pattern_resource_test.go
Due: go-generate

feat: add dataprotection_content_pattern resource (#260)
  docs/resources/data_protection_content_pattern.md
  examples/resources/crowdstrike_data_protection_content_pattern/import.sh
  examples/resources/crowdstrike_data_protection_content_pattern/resource.tf
  internal/data_protection/content_pattern_resource.go
  internal/data_protection/content_pattern_resource_test.go
  internal/framework/flex/int32.go
  internal/framework/flex/int32_test.go
  internal/provider/provider.go
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
Due: go-generate

maint(flex): add host group flatten helpers with null support
  internal/framework/flex/hostgroups.go
  internal/framework/flex/hostgroups_test.go
  internal/framework/flex/list.go
  internal/framework/flex/list_test.go
  internal/framework/flex/set.go
  internal/framework/flex/set_test.go
Due: go-generate

feat: add response_policy resource
  docs/resources/response_policy.md
  examples/resources/crowdstrike_response_policy/import.sh
  examples/resources/crowdstrike_response_policy/resource.tf
  go.mod
  go.sum
  internal/acctest/acctest.go
  internal/data_protection/content_pattern_resource.go
  internal/framework/validators/config_validators.go
  internal/framework/validators/config_validators_test.go
  internal/prevention_policy/default_mac_policy.go
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/mac.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
  internal/prevention_policy/windows_test.go
  internal/provider/provider.go
  internal/response_policy/response_policy_resource.go
  internal/response_policy/response_policy_resource_test.go
  internal/response_policy/scopes.go
  internal/response_policy/validators.go
  internal/response_policy/validators_test.go
  internal/tferrors/errors.go
Due: go-mod-tidy, go-generate

refactor: use utils.MarkdownDescription for response policy
  docs/resources/response_policy.md
  internal/response_policy/response_policy_resource.go
Due: go-generate

feat: add response_policy_precedence resource
  docs/resources/response_policy_precedence.md
  examples/resources/crowdstrike_response_policy_precedence/resource.tf
  internal/provider/provider.go
  internal/response_policy/response_policy_precedence.go
  internal/response_policy/scopes.go
Due: go-generate

chore: bump gofalcon and fix content pattern update
  go.mod
  go.sum
  internal/data_protection/content_pattern_resource.go
Due: go-mod-tidy, go-generate

chore: bump gofalcon and fix content pattern update (#268)
  go.mod
  go.sum
  internal/data_protection/content_pattern_resource.go
Due: go-mod-tidy, go-generate

perf(tests): cache Falcon client to avoid rate limiting
  internal/acctest/acctest.go
  internal/provider/provider.go
  internal/testconfig/client.go
Due: go-generate

perf(tests): cache Falcon client to avoid rate limiting (#269)
  internal/acctest/acctest.go
  internal/provider/provider.go
  internal/testconfig/client.go
Due: go-generate

feat: add response_policy_precedence resource (#267)
  docs/resources/response_policy_precedence.md
  examples/resources/crowdstrike_response_policy_precedence/resource.tf
  internal/provider/provider.go
  internal/response_policy/response_policy_precedence.go
  internal/response_policy/scopes.go
Due: go-generate

feat(cloud-security): Add suppression rules data source
  internal/cloud_security/shared.go
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rules_data_source.go
  internal/cloud_security/suppression_rules_data_source_test.go
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
Due: go-generate

initial commit
  docs/data-sources/cloud_security_suppression_rules.md
  examples/data-sources/crowdstrike_cloud_security_suppression_rules/data-source.tf
  internal/cloud_security/suppression_rules_data_source.go
  internal/cloud_security/suppression_rules_data_source_test.go
  internal/provider/provider.go
Due: go-generate

Update docs and gofalcon version
  docs/data-sources/cloud_security_suppression_rules.md
  examples/data-sources/crowdstrike_cloud_security_suppression_rules/data-source.tf
Due: go-generate

fix(response_policy): use correct API scope constant in precedence resource
  docs/resources/response_policy_precedence.md
  internal/response_policy/response_policy_precedence.go
Due: go-generate

feat: add response_policy resource (#266)
  docs/resources/response_policy.md
  docs/resources/response_policy_precedence.md
  examples/resources/crowdstrike_response_policy/import.sh
  examples/resources/crowdstrike_response_policy/resource.tf
  internal/acctest/acctest.go
  internal/framework/flex/hostgroups.go
  internal/framework/flex/hostgroups_test.go
  internal/framework/flex/list.go
  internal/framework/flex/list_test.go
  internal/framework/flex/set.go
  internal/framework/flex/set_test.go
  internal/framework/validators/config_validators.go
  internal/framework/validators/config_validators_test.go
  internal/prevention_policy/default_mac_policy.go
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/mac.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
  internal/prevention_policy/windows_test.go
  internal/provider/provider.go
  internal/response_policy/response_policy_precedence.go
  internal/response_policy/response_policy_resource.go
  internal/response_policy/response_policy_resource_test.go
  internal/response_policy/scopes.go
  internal/response_policy/validators.go
  internal/response_policy/validators_test.go
  internal/tferrors/errors.go
Due: go-generate

docs: improve plan-tf-resource skill workflow and add reference example
  .claude/skills/plan-tf-resource/SKILL.md
  .claude/skills/plan-tf-resource/examples/ioa-exclusion-issue.md
Due: none

feat: add cid_group resource
  docs/resources/cid_group.md
  examples/resources/crowdstrike_cid_group/import.sh
  examples/resources/crowdstrike_cid_group/resource.tf
  go.mod
  go.sum
  internal/cid_group/cid_group_resource.go
  internal/cid_group/cid_group_resource_test.go
  internal/provider/provider.go
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
Due: go-mod-tidy, go-generate

feat(cloud_google_registration): change excluded_project_patterns from regex to wildcard syntax
  docs/resources/cloud_google_registration.md
  examples/resources/crowdstrike_cloud_google_registration/resource.tf
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_test.go
Due: go-generate

feat: add cid_group resource (#272)
  docs/resources/cid_group.md
  examples/resources/crowdstrike_cid_group/import.sh
  examples/resources/crowdstrike_cid_group/resource.tf
  go.mod
  go.sum
  internal/cid_group/cid_group_resource.go
  internal/cid_group/cid_group_resource_test.go
  internal/provider/provider.go
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
Due: go-mod-tidy, go-generate

test(cloud_google_registration): add validation tests for excluded_project_patterns
  internal/cloud_google_registration/cloud_google_registration_test.go
Due: go-generate

test(cloud-security): refactor suppression rules data source tests
  go.mod
  go.sum
  internal/cloud_security/suppression_rules_data_source.go
  internal/cloud_security/suppression_rules_data_source_test.go
Due: go-mod-tidy, go-generate

remove path requirement for ci
  .github/workflows/ci.yml
  go.mod
  go.sum
Due: go-mod-tidy

test(cloud-security): suppress unparam linter warning
  internal/cloud_security/suppression_rules_data_source_test.go
  internal/tferrors/errors.go
Due: go-generate

refactor(cloud-security): fix error operation type and remove redundant nil check
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rules_data_source.go
Due: go-generate

Path conditions:
  go-mod-tidy: any of: ^go\.(mod|sum)$
  go-generate: any of: ^(examples/.*|internal/.*\.go)$
