Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

go-mod-tidy:
  name: go mod tidy
  entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
  language: system
  pass_filenames: true

go-generate:
  name: go generate
  entry: go generate ./...
  language: system
  pass_filenames: false

name and description filters
  docs/data-sources/prevention_policies.md
  examples/data-sources/crowdstrike_prevention_policies/data-source.tf
  internal/prevention_policy/prevention_policies_data_source.go
  internal/utils/utils.go
  internal/utils/utils_test.go
Due: go-generate

created by and modified by filters
  docs/data-sources/prevention_policies.md
  internal/prevention_policy/prevention_policies_data_source.go
  internal/prevention_policy/prevention_policies_data_source_test.go
  internal/utils/utils.go
  internal/utils/utils_test.go
Due: go-generate

feat(real_time_visibility_and_detection): adds new s3 log ingestion method
  internal/fcs/cloud_aws_account.go
Due: go-generate

feat(real_time_visibility_and_detection): adds new s3 log ingestion method
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

Update ci.yml
  .github/workflows/ci.yml
Due: none

add unit tests for prevention policies data source client-side filtering
  go.mod
  go.sum
  internal/prevention_policy/export_test.go
  internal/prevention_policy/prevention_policies_data_source_test.go
Due: go-mod-tidy, go-generate

add wildcard pattern matching utility for client-side filtering
  internal/utils/wildcard.go
  internal/utils/wildcard_test.go
Due: go-generate

golangci-lint migrate to v2
  .github/workflows/ci.yml
Due: none

migrate
  .golangci.yml
Due: none

update ci pipeline to use approved shas (#180)
  .github/workflows/ci.yml
  .golangci.yml
Due: none

AWS registration: Add support to set rtvd, dspm and vuln scanning regions
  docs/resources/cloud_aws_account.md
  go.mod
  go.sum
  internal/cloud_security/custom_rule_resource.go
  internal/cloud_security/rules_data_source.go
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/it_automation/it_automation_task_resource.go
Due: go-mod-tidy, go-generate

refactorrefactor for client side filtering
  docs/data-sources/prevention_policies.md
  examples/data-sources/crowdstrike_prevention_policies/data-source.tf
  internal/cloud_security/custom_rule_resource_test.go
  internal/host_groups/host_groups.go
  internal/ioa_rule_group/ioa_rule_group.go
  internal/prevention_policy/api.go
  internal/prevention_policy/default_linux_policy.go
  internal/prevention_policy/default_mac_policy.go
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/export_test.go
  internal/prevention_policy/prevention_policies_data_source.go
  internal/prevention_policy/prevention_policies_data_source_test.go
  internal/prevention_policy/prevention_policy_attachment.go
  internal/utils/schema.go
  internal/utils/schema_test.go
Due: go-generate

feat(real_time_visibility_and_detection): adds new s3 log ingestion method
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

linter
  internal/cloud_security/custom_rule_resource.go
  internal/cloud_security/rules_data_source.go
  internal/it_automation/it_automation_task_resource.go
Due: go-generate

feat: prevention policy data source (#173)
  docs/data-sources/prevention_policies.md
  examples/data-sources/crowdstrike_prevention_policies/data-source.tf
  go.mod
  go.sum
  internal/acctest/acctest.go
  internal/cloud_security/custom_rule_resource.go
  internal/cloud_security/custom_rule_resource_test.go
  internal/cloud_security/rules_data_source.go
  internal/host_groups/host_groups.go
  internal/ioa_rule_group/ioa_rule_group.go
  internal/it_automation/it_automation_task_resource.go
  internal/prevention_policy/api.go
  internal/prevention_policy/default_linux_policy.go
  internal/prevention_policy/default_mac_policy.go
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/export_test.go
  internal/prevention_policy/prevention_policies_data_source.go
  internal/prevention_policy/prevention_policies_data_source_test.go
  internal/prevention_policy/prevention_policy_attachment.go
  internal/provider/provider.go
  internal/utils/schema.go
  internal/utils/schema_test.go
  internal/utils/utils.go
  internal/utils/utils_test.go
  internal/utils/wildcard.go
  internal/utils/wildcard_test.go
Due: go-mod-tidy, go-generate

feat(real_time_visibility_and_detection): adds new s3 log ingestion method
  docs/resources/cloud_aws_account.md
Due: none

add cloud_adware_pup_user_initiated field and fix unknown value handling in prevention policy validation
  docs/resources/default_prevention_policy_windows.md
  docs/resources/prevention_policy_windows.md
  examples/resources/crowdstrike_default_prevention_policy_windows/resource.tf
  examples/resources/crowdstrike_prevention_policy_windows/resource.tf
  internal/prevention_policy/default_linux_policy.go
  internal/prevention_policy/default_mac_policy.go
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/linux.go
  internal/prevention_policy/mac.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
  internal/prevention_policy/windows_test.go
Due: go-generate

add cloud_adware_pup_user_initiated field and fix unknown value handling in prevention policy validation (#184)
  docs/resources/default_prevention_policy_windows.md
  docs/resources/prevention_policy_windows.md
  examples/resources/crowdstrike_default_prevention_policy_windows/resource.tf
  examples/resources/crowdstrike_prevention_policy_windows/resource.tf
  internal/prevention_policy/default_linux_policy.go
  internal/prevention_policy/default_mac_policy.go
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/linux.go
  internal/prevention_policy/mac.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
  internal/prevention_policy/windows_test.go
Due: go-generate

add dbus_visibility, enhance_php_visibility, enhance_environment_variable_visibility, and suspicious_file_analysis fields to linux prevention policies
  docs/resources/default_prevention_policy_linux.md
  docs/resources/prevention_policy_linux.md
  examples/resources/crowdstrike_default_prevention_policy_linux/resource.tf
  examples/resources/crowdstrike_prevention_policy_linux/resource.tf
  internal/prevention_policy/default_linux_policy.go
  internal/prevention_policy/linux.go
  internal/prevention_policy/schema.go
Due: go-generate

add suspicious_file_analysis setting to windows prevention policies
  examples/resources/crowdstrike_default_prevention_policy_windows/resource.tf
  examples/resources/crowdstrike_prevention_policy_windows/resource.tf
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
  internal/prevention_policy/windows_test.go
Due: go-generate

go generate
  docs/resources/default_prevention_policy_windows.md
  docs/resources/prevention_policy_windows.md
Due: none

add suspicious_file_analysis setting to windows prevention policies (#186)
  docs/resources/default_prevention_policy_windows.md
  docs/resources/prevention_policy_windows.md
  examples/resources/crowdstrike_default_prevention_policy_windows/resource.tf
  examples/resources/crowdstrike_prevention_policy_windows/resource.tf
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
  internal/prevention_policy/windows_test.go
Due: go-generate

add missing linux prevention policy settings (#185)
  docs/resources/default_prevention_policy_linux.md
  docs/resources/prevention_policy_linux.md
  examples/resources/crowdstrike_default_prevention_policy_linux/resource.tf
  examples/resources/crowdstrike_prevention_policy_linux/resource.tf
  internal/prevention_policy/default_linux_policy.go
  internal/prevention_policy/linux.go
  internal/prevention_policy/schema.go
Due: go-generate

add cloud_security_group resource
  docs/resources/cloud_security_group.md
  examples/resources/crowdstrike_cloud_security_group/import.sh
  examples/resources/crowdstrike_cloud_security_group/resource.tf
  internal/cloud_security_group/cloud_security_group.go
  internal/cloud_security_group/cloud_security_group_test.go
  internal/provider/provider.go
Due: go-generate

bump gofalcon version
  go.mod
  go.sum
Due: go-mod-tidy

generate docs
  docs/resources/cloud_security_group.md
Due: none

refactor: remove GCP tags validation and improve type safety
  internal/cloud_security_group/cloud_security_group.go
  internal/cloud_security_group/cloud_security_group_test.go
Due: go-generate

sensor update policy data source
  docs/data-sources/sensor_update_policies.md
  examples/data-sources/crowdstrike_sensor_update_policies/data-source.tf
  internal/provider/provider.go
  internal/sensor_update_policy/sensor_update_policies_data_source.go
  internal/sensor_update_policy/sensor_update_policies_data_source_test.go
Due: go-generate

feat: add reusable framework validators package
  internal/framework/validators/doc.go
  internal/framework/validators/string_validators.go
  internal/framework/validators/string_validators_test.go
Due: go-generate

feat: add reusable framework validators package (#187)
  internal/framework/validators/doc.go
  internal/framework/validators/string_validators.go
  internal/framework/validators/string_validators_test.go
Due: go-generate

Path conditions:
  go-mod-tidy: any of: ^go\.(mod|sum)$
  go-generate: any of: ^(examples/.*|internal/.*\.go)$
