Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.4
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: true

      - id: go-generate
        name: go generate
        entry: go generate ./...
        language: system
        files: ^(examples/.*|internal/.*\.go)$
        pass_filenames: false

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.100.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_validate
        args:
          - --args=-json
        files: ^examples/resources/.*\.tf$
        exclude: ^examples/provider/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key
      - id: detect-aws-credentials

Add WSL2 visibility and BCD protection to Windows prevention policies
  .gitignore
  docs/resources/default_prevention_policy_windows.md
  docs/resources/prevention_policy_windows.md
  examples/resources/crowdstrike_default_prevention_policy_windows/resource.tf
  examples/resources/crowdstrike_prevention_policy_windows/resource.tf
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
Due: go-generate

feat: Add Cloud Posture and Cloud Compliance resource and data sources
  docs/data-sources/cloud_compliance_framework_controls.md
  docs/data-sources/cloud_posture_rules.md
  docs/resources/cloud_posture_custom_rule.md
  examples/data-sources/crowdstrike_cloud_compliance_framework_controls/data-source.tf
  examples/data-sources/crowdstrike_cloud_posture_rules/data-source.tf
  examples/resources/crowdstrike_cloud_posture_custom_rule/import.sh
  examples/resources/crowdstrike_cloud_posture_custom_rule/resource.tf
  go.mod
  go.sum
  internal/cloud_compliance/framework_control_data_source.go
  internal/cloud_compliance/framework_control_data_source_test.go
  internal/cloud_compliance/scopes.go
  internal/cloud_posture/custom_rule_resource.go
  internal/cloud_posture/custom_rule_resource_test.go
  internal/cloud_posture/rules_data_source.go
  internal/cloud_posture/rules_data_source_test.go
  internal/cloud_posture/scopes.go
  internal/cloud_posture/shared.go
  internal/provider/provider.go
Due: go-mod-tidy, go-generate

docs: Update docs for updated compliance framework and cloud posture resources
  docs/data-sources/cloud_compliance_framework_controls.md
  docs/data-sources/cloud_posture_rules.md
  docs/resources/cloud_posture_custom_rule.md
Due: none

docs: Update docs for updated compliance framework and cloud posture resources
  docs/resources/cloud_posture_custom_rule.md
  examples/resources/crowdstrike_cloud_posture_custom_rule/resource.tf
Due: go-generate

ci: improve test performance with increased parallelism and failfast
  .github/workflows/ci.yml
Due: none

test: enhance Windows prevention policy tests with validation and field coverage
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/windows_test.go
Due: go-generate

Add WSL2 visibility and BCD protection to Windows prevention policies (#155)
  .github/workflows/ci.yml
  .gitignore
  docs/resources/default_prevention_policy_windows.md
  docs/resources/prevention_policy_windows.md
  examples/resources/crowdstrike_default_prevention_policy_windows/resource.tf
  examples/resources/crowdstrike_prevention_policy_windows/resource.tf
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
  internal/prevention_policy/windows_test.go
Due: go-generate

updated go.mod and go.sum
  go.mod
  go.sum
Due: go-mod-tidy

AWS registration: Fix to allow empty IOA resources for commercial accounts in gov (#148)
  internal/fcs/cloud_aws_account.go
Due: go-generate

Add custom plan modifiers for custom rules
  docs/resources/cloud_posture_custom_rule.md
  internal/cloud_posture/custom_rule_resource.go
  internal/cloud_posture/custom_rule_resource_test.go
  internal/cloud_posture/plan_modifiers.go
Due: go-generate

Added comprehensive acctests, various tweaks to logic and functionality, template files for all resources docs with info and warnings.
  go.mod
  go.sum
  internal/it_automation/errors.go
  internal/it_automation/it_automation_default_policy_resource.go
  internal/it_automation/it_automation_default_policy_resource_test.go
  internal/it_automation/it_automation_policy_precedence_resource.go
  internal/it_automation/it_automation_policy_precedence_resource_test.go
  internal/it_automation/it_automation_policy_resource.go
  internal/it_automation/it_automation_policy_resource_test.go
  internal/it_automation/it_automation_task_group_resource.go
  internal/it_automation/it_automation_task_group_resource_test.go
  internal/it_automation/it_automation_task_resource.go
  internal/it_automation/it_automation_task_resource_test.go
  internal/it_automation/shared_test.go
  templates/resources/it_automation_default_policy.md.tmpl
  templates/resources/it_automation_policy.md.tmpl
  templates/resources/it_automation_policy_precedence.md.tmpl
  templates/resources/it_automation_task.md.tmpl
  templates/resources/it_automation_task_group.md.tmpl
Due: go-mod-tidy, go-generate

chore: add CLAUDE.md to gitignore
  .gitignore
Due: none

chore: add CLAUDE.md to gitignore (#162)
  .gitignore
Due: none

bump gofalcon version
  go.mod
  go.sum
Due: go-mod-tidy

bump gofalcon version (#163)
  go.mod
  go.sum
Due: go-mod-tidy

use BoolPointerValue to handle nil values
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

use BoolPointerValue to handle nil values (#164)
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

update
  internal/fcs/cloud_azure_tenant_eventhub_settings.go
Due: go-generate

feat: trigger FCS Azure health check scan in event hub settings resource
  internal/fcs/cloud_azure_tenant_eventhub_settings.go
Due: go-generate

feat: trigger FCS Azure health check scan in event hub settings resource (#165)
  internal/fcs/cloud_azure_tenant_eventhub_settings.go
Due: go-generate

add cloud_security_group resource
  docs/resources/cloud_security_group.md
  examples/resources/crowdstrike_cloud_security_group/import.sh
  examples/resources/crowdstrike_cloud_security_group/resource.tf
  internal/cloud_security_group/cloud_security_group.go
  internal/cloud_security_group/cloud_security_group_test.go
  internal/provider/provider.go
Due: go-generate

generate docs
  docs/resources/cloud_security_group.md
Due: none

refactor: remove GCP tags validation and improve type safety
  internal/cloud_security_group/cloud_security_group.go
  internal/cloud_security_group/cloud_security_group_test.go
Due: go-generate

Cleanup comments
  internal/cloud_posture/custom_rule_resource.go
  internal/cloud_posture/rules_data_source.go
Due: go-generate

feat: Add Cloud Posture and Cloud Compliance resource and data sources
  docs/data-sources/cloud_compliance_framework_controls.md
  docs/data-sources/cloud_posture_rules.md
  docs/resources/cloud_posture_custom_rule.md
  examples/data-sources/crowdstrike_cloud_compliance_framework_controls/data-source.tf
  examples/data-sources/crowdstrike_cloud_posture_rules/data-source.tf
  examples/resources/crowdstrike_cloud_posture_custom_rule/resource.tf
  internal/cloud_compliance/framework_control_data_source.go
  internal/cloud_compliance/framework_control_data_source_test.go
  internal/cloud_posture/controls.go
  internal/cloud_posture/custom_rule_resource.go
  internal/cloud_posture/custom_rule_resource_test.go
  internal/cloud_posture/rules_data_source.go
  internal/cloud_posture/rules_data_source_test.go
  internal/cloud_posture/scopes.go
  internal/cloud_posture/shared.go
  internal/provider/provider.go
Due: go-generate

Refactor and expanded testing coverage
  docs/data-sources/cloud_compliance_framework_controls.md
  docs/data-sources/cloud_posture_rules.md
  docs/resources/cloud_posture_custom_rule.md
  examples/resources/crowdstrike_cloud_posture_custom_rule/resource.tf
  go.mod
  go.sum
  internal/cloud_compliance/framework_control_data_source.go
  internal/cloud_compliance/framework_control_data_source_test.go
  internal/cloud_posture/custom_rule_resource.go
  internal/cloud_posture/custom_rule_resource_test.go
  internal/cloud_posture/plan_modifiers.go
  internal/cloud_posture/rules_data_source.go
  internal/cloud_posture/rules_data_source_test.go
  internal/cloud_posture/shared.go
  internal/cloud_posture/shared_config_test.go
Due: go-mod-tidy, go-generate

Add from defined to empty testing
  go.mod
  go.sum
  internal/cloud_posture/custom_rule_resource.go
  internal/cloud_posture/custom_rule_resource_test.go
  internal/cloud_posture/rules_data_source.go
  internal/cloud_posture/rules_data_source_test.go
  internal/cloud_posture/shared.go
Due: go-mod-tidy, go-generate

remove trailing whitespace
  docs/resources/cloud_posture_custom_rule.md
Due: none

Update benchmark to set
  docs/data-sources/cloud_compliance_framework_controls.md
  internal/cloud_compliance/framework_control_data_source.go
  internal/cloud_compliance/framework_control_data_source_test.go
Due: go-generate

PR feedback and documentation generation
  docs/resources/it_automation_default_policy.md
  docs/resources/it_automation_policy.md
  docs/resources/it_automation_policy_precedence.md
  docs/resources/it_automation_task.md
  docs/resources/it_automation_task_group.md
  examples/resources/crowdstrike_it_automation_default_policy/resource.tf
  examples/resources/crowdstrike_it_automation_policy/resource.tf
  examples/resources/crowdstrike_it_automation_policy_precedence/resource.tf
  examples/resources/crowdstrike_it_automation_task/resource.tf
  go.mod
  go.sum
  internal/it_automation/it_automation_default_policy_resource.go
  internal/it_automation/it_automation_default_policy_resource_test.go
  internal/it_automation/it_automation_policy_precedence_resource.go
  internal/it_automation/it_automation_policy_precedence_resource_test.go
  internal/it_automation/it_automation_policy_resource.go
  internal/it_automation/it_automation_policy_resource_test.go
  internal/it_automation/it_automation_task_group_resource.go
  internal/it_automation/it_automation_task_group_resource_test.go
  internal/it_automation/it_automation_task_resource.go
  internal/it_automation/it_automation_task_resource_test.go
  internal/it_automation/shared.go
  internal/it_automation/shared_test.go
Due: go-mod-tidy, go-generate

upgrade gofalcon from pre-release to v0.18.0
  go.mod
  go.sum
Due: go-mod-tidy

feat: add PlanAwareStringValue for handling API empty strings
  internal/utils/schema.go
Due: go-generate

refactor IT automation default policy resource wrapping logic
  internal/it_automation/it_automation_default_policy_resource.go
Due: go-generate
