Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.4
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: true

      - id: go-generate
        name: go generate
        entry: go generate ./...
        language: system
        files: ^(examples/.*|internal/.*\.go)$
        pass_filenames: false

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.100.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_validate
        args:
          - --args=-json
        files: ^examples/resources/.*\.tf$
        exclude: ^examples/provider/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key
      - id: detect-aws-credentials

update
  internal/fcs/cloud_aws_account_validation_data_source.go
  internal/fcs/cloud_aws_account_validation_data_source_test.go
Due: go-generate

feat(cloud-azure-registration): call validate registration API in update event hub settings resource
  go.mod
  go.sum
  internal/fcs/cloud_azure_tenant_eventhub_settings.go
Due: go-mod-tidy, go-generate

update
  internal/fcs/cloud_azure_tenant_eventhub_settings.go
Due: go-generate

remove wif_project fields from google cloud registration logging settings resource
  docs/resources/cloud_google_registration_logging_settings.md
  examples/resources/crowdstrike_cloud_google_registration_logging_settings/resource.tf
  internal/acctest/acctest.go
  internal/cloud_google_registration/cloud_google_registration_logging_settings.go
  internal/cloud_google_registration/cloud_google_registration_logging_settings_test.go
Due: go-generate

make wif_project_number required
  docs/resources/cloud_google_registration.md
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_test.go
Due: go-generate

add clientid to update
  internal/cloud_google_registration/cloud_google_registration.go
Due: go-generate

update
  docs/data-sources/cloud_aws_account_validation.md
  examples/data-sources/crowdstrike_cloud_aws_account_validation/data-source.tf
  go.mod
  go.sum
  internal/fcs/cloud_aws_account_validation_data_source.go
  internal/fcs/cloud_aws_account_validation_data_source_unit_test.go
  templates/data-sources/cloud_aws_account_validation.md.tmpl
Due: go-mod-tidy, go-generate

update
  docs/data-sources/cloud_aws_account_validation.md
  templates/data-sources/cloud_aws_account_validation.md.tmpl
Due: none

update
  docs/data-sources/cloud_aws_account_validation.md
  internal/fcs/cloud_aws_account_validation_data_source.go
  internal/fcs/cloud_aws_account_validation_data_source_test.go
Due: go-generate

enforce sys- pattern for excluded_project_patterns
  docs/resources/cloud_google_registration.md
  examples/resources/crowdstrike_cloud_google_registration/resource.tf
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_test.go
Due: go-generate

rename logging settings resource and add wif attributes
  docs/resources/cloud_google_registration_settings.md
  examples/resources/crowdstrike_cloud_google_registration_settings/import.sh
  examples/resources/crowdstrike_cloud_google_registration_settings/resource.tf
  go.mod
  go.sum
  internal/cloud_google_registration/cloud_google_registration_settings.go
  internal/cloud_google_registration/cloud_google_registration_settings_test.go
  internal/provider/provider.go
Due: go-mod-tidy, go-generate

use latest gofalcon version
  go.mod
  go.sum
Due: go-mod-tidy

add wif_project_number to cloud_google_registration examples
  docs/resources/cloud_google_registration.md
  docs/resources/cloud_google_registration_settings.md
  examples/resources/crowdstrike_cloud_google_registration/resource.tf
  examples/resources/crowdstrike_cloud_google_registration_settings/resource.tf
Due: go-generate

FCS AWS registration: Remove calls to cspmregistration
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_data_source.go
  internal/fcs/cloud_aws_account_helpers_test.go
  internal/fcs/settings.go
  internal/fcs/utils.go
  internal/fcs/utils_test.go
Due: go-generate

fix gcp settings overriding deployment method
  examples/resources/crowdstrike_cloud_google_registration_settings/resource.tf
  go.mod
  go.sum
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_settings.go
Due: go-mod-tidy, go-generate

run make gen
  docs/resources/cloud_google_registration_settings.md
Due: none

fix gcp settings overriding deployment method (#224)
  docs/resources/cloud_google_registration_settings.md
  examples/resources/crowdstrike_cloud_google_registration_settings/resource.tf
  go.mod
  go.sum
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_settings.go
Due: go-mod-tidy, go-generate

add new infrastructure_manager_region attribute
  docs/resources/cloud_google_registration.md
  examples/resources/crowdstrike_cloud_google_registration/resource.tf
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_test.go
Due: go-generate

add exclusive attribute to sensor_update_policy_host_group_attachment
  docs/resources/sensor_update_policy_host_group_attachment.md
  internal/framework/flex/list_test.go
  internal/framework/flex/set.go
  internal/framework/flex/set_test.go
  internal/sensor_update_policy/sensor_update_policy_host_group_attachment.go
  internal/sensor_update_policy/sensor_update_policy_host_group_attachment_test.go
Due: go-generate

update prevention policy attachment to use flex helper functions
  internal/prevention_policy/export_test.go
  internal/prevention_policy/prevention_policy_attachment.go
  internal/prevention_policy/prevention_policy_attachment_test.go
Due: go-generate

run make gen
  docs/resources/sensor_update_policy_host_group_attachment.md
  examples/resources/crowdstrike_sensor_update_policy_host_group_attachment/resource.tf
Due: go-generate

feat(cloud-azure-registration): call validate registration API in update event hub settings resource (#218)
  go.mod
  go.sum
  internal/fcs/cloud_azure_tenant_eventhub_settings.go
Due: go-mod-tidy, go-generate

feat(cloud-aws-registration): add new data source "cloud_aws_account_validation"
  docs/data-sources/cloud_aws_account_validation.md
  examples/data-sources/crowdstrike_cloud_aws_account_validation/data-source.tf
  go.mod
  go.sum
  internal/fcs/cloud_aws_account_validation_data_source.go
  internal/fcs/cloud_aws_account_validation_data_source_test.go
  internal/provider/provider.go
  templates/data-sources/cloud_aws_account_validation.md.tmpl
Due: go-mod-tidy, go-generate

chore: remove useless unit tests
  internal/fcs/cloud_aws_account_validation_data_source_test.go
Due: go-generate

update
  docs/data-sources/cloud_aws_account_validation.md
  examples/data-sources/crowdstrike_cloud_aws_account_validation/data-source.tf
  internal/fcs/cloud_aws_account_validation_data_source.go
  internal/fcs/cloud_aws_account_validation_data_source_test.go
Due: go-generate

Update internal/fcs/cloud_aws_account_validation_data_source.go
  internal/fcs/cloud_aws_account_validation_data_source.go
Due: go-generate

feat(cloud-aws-registration): Add cloud registration AWS account validation data source (#217)
  docs/data-sources/cloud_aws_account_validation.md
  examples/data-sources/crowdstrike_cloud_aws_account_validation/data-source.tf
  go.mod
  go.sum
  internal/fcs/cloud_aws_account_validation_data_source.go
  internal/provider/provider.go
  templates/data-sources/cloud_aws_account_validation.md.tmpl
Due: go-mod-tidy, go-generate

add content_update_policy_attachment resource
  docs/resources/content_update_policy_attachment.md
  examples/resources/crowdstrike_content_update_policy_attachment/import.sh
  examples/resources/crowdstrike_content_update_policy_attachment/resource.tf
  internal/content_update_policy/content_category_versions_data_source_test.go
  internal/content_update_policy/content_update_policy_attachment.go
  internal/content_update_policy/content_update_policy_attachment_test.go
  internal/content_update_policy/content_update_policy_resource.go
  internal/content_update_policy/shared.go
  internal/framework/flex/list_test.go
  internal/framework/flex/set.go
  internal/framework/flex/set_test.go
  internal/provider/provider.go
Due: go-generate

add exclusive attribute to sensor_update_policy_host_group_attachment (#226)
  docs/resources/sensor_update_policy_host_group_attachment.md
  examples/resources/crowdstrike_sensor_update_policy_host_group_attachment/resource.tf
  internal/framework/flex/list_test.go
  internal/framework/flex/set.go
  internal/framework/flex/set_test.go
  internal/prevention_policy/export_test.go
  internal/prevention_policy/prevention_policy_attachment.go
  internal/sensor_update_policy/sensor_update_policy_host_group_attachment.go
  internal/sensor_update_policy/sensor_update_policy_host_group_attachment_test.go
Due: go-generate

add new infrastructure_manager_region attribute (#225)
  docs/resources/cloud_google_registration.md
  examples/resources/crowdstrike_cloud_google_registration/resource.tf
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_test.go
Due: go-generate

fix configure method
  internal/content_update_policy/content_update_policy_attachment.go
Due: go-generate

update go.mod with local gofalcon version with KAC policy endpoints
  go.mod
  go.sum
Due: go-mod-tidy

add rule groups to KAC policy schema
  docs/resources/cloud_security_kac_policy.md
  internal/cloud_security/kac_policy_resource.go
Due: go-generate

add precedence to KAC policy resource
  docs/resources/cloud_security_kac_policy.md
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_test.go
Due: go-generate
