Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.4
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: true

      - id: go-generate
        name: go generate
        entry: go generate ./...
        language: system
        files: ^(examples/.*|internal/.*\.go)$
        pass_filenames: false

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.100.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_validate
        args:
          - --args=-json
        files: ^examples/resources/.*\.tf$
        exclude: ^examples/provider/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key
      - id: detect-aws-credentials

add UseStateForUnknown plan modifiers to IT automation computed attributes
  internal/it_automation/it_automation_policy_precedence_resource.go
  internal/it_automation/it_automation_task_resource.go
Due: go-generate

refactor IT automation resources with plan modifiers and improved descriptions
  internal/it_automation/it_automation_default_policy_resource.go
  internal/it_automation/it_automation_policy_precedence_resource.go
  internal/it_automation/it_automation_policy_resource.go
  internal/it_automation/it_automation_task_group_resource.go
  internal/it_automation/it_automation_task_resource.go
  internal/it_automation/shared.go
Due: go-generate

refactor IT automation resources to use centralized null/known utility functions
  internal/it_automation/it_automation_default_policy_resource.go
  internal/it_automation/it_automation_policy_resource.go
  internal/it_automation/it_automation_task_group_resource.go
  internal/it_automation/it_automation_task_resource.go
  internal/utils/schema.go
Due: go-generate

move IT automation task access_type default to schema definition
  internal/it_automation/it_automation_task_resource.go
Due: go-generate

Update to run update after create to accommodate empty lists for duplicate rules
  internal/cloud_posture/custom_rule_resource.go
  internal/cloud_posture/custom_rule_resource_test.go
Due: go-generate

feat(crowdstrike_cloud_aws_account) : initial working version of vulnerability scanning fields
  docs/resources/cloud_aws_account.md
  examples/resources/crowdstrike_cloud_aws_account/resource.tf
  go.mod
  go.sum
  internal/fcs/account_settings.go
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/modifiers.go
  internal/fcs/utils.go
  internal/fcs/utils_test.go
Due: go-mod-tidy, go-generate

refactor: remove in_task_group field, use task_group_id null check instead
  internal/it_automation/it_automation_task_resource.go
  internal/it_automation/shared.go
Due: go-generate

remove hasConfigChanges check that always returns true in IT automation default policy create
  internal/it_automation/it_automation_default_policy_resource.go
  internal/it_automation/it_automation_policy_precedence_resource.go
  internal/it_automation/it_automation_policy_precedence_resource_test.go
  internal/it_automation/it_automation_policy_resource.go
  internal/it_automation/it_automation_task_group_resource.go
  internal/it_automation/it_automation_task_resource.go
  internal/it_automation/shared.go
  internal/it_automation/shared_test.go
  internal/utils/schema.go
  internal/utils/utils.go
  templates/resources/it_automation_default_policy.md.tmpl
  templates/resources/it_automation_policy.md.tmpl
  templates/resources/it_automation_policy_precedence.md.tmpl
Due: go-generate

remove in_task_group from tests
  internal/it_automation/it_automation_task_resource_test.go
Due: go-generate

remove usestateforunkown
  internal/it_automation/it_automation_default_policy_resource.go
  internal/it_automation/it_automation_policy_precedence_resource.go
  internal/it_automation/it_automation_policy_resource.go
  internal/it_automation/it_automation_task_group_resource.go
  internal/it_automation/it_automation_task_resource.go
Due: go-generate

update docs
  docs/resources/it_automation_default_policy.md
  docs/resources/it_automation_policy.md
  docs/resources/it_automation_policy_precedence.md
  docs/resources/it_automation_task.md
  docs/resources/it_automation_task_group.md
Due: none

revert 5c29a9a
  internal/it_automation/it_automation_task_resource.go
Due: go-generate

final changes
  docs/resources/it_automation_task.md
  examples/resources/crowdstrike_it_automation_task/resource.tf
  internal/it_automation/it_automation_default_policy_resource_test.go
  internal/it_automation/it_automation_policy_resource_test.go
  internal/it_automation/it_automation_task_group_resource.go
  internal/it_automation/it_automation_task_group_resource_test.go
  internal/it_automation/it_automation_task_resource.go
  internal/it_automation/it_automation_task_resource_test.go
  internal/it_automation/shared_test.go
Due: go-generate

feat(crowdstrike_cloud_aws_account) : add vuklnerebility scanning fields toaws data source
  docs/data-sources/cloud_aws_account.md
  docs/resources/cloud_aws_account.md
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_data_source.go
  internal/fcs/cloud_aws_account_data_source_test.go
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

feat(crowdstrike_cloud_aws_account) : agentless scanning role name calculation will return empty string when both features disabled
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_data_source.go
  internal/fcs/cloud_aws_account_data_source_test.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/utils.go
Due: go-generate

IT Automation (Falcon for IT) (#153)
  docs/resources/it_automation_default_policy.md
  docs/resources/it_automation_policy.md
  docs/resources/it_automation_policy_precedence.md
  docs/resources/it_automation_task.md
  docs/resources/it_automation_task_group.md
  examples/resources/crowdstrike_it_automation_default_policy/import.sh
  examples/resources/crowdstrike_it_automation_default_policy/resource.tf
  examples/resources/crowdstrike_it_automation_policy/import.sh
  examples/resources/crowdstrike_it_automation_policy/resource.tf
  examples/resources/crowdstrike_it_automation_policy_precedence/import.sh
  examples/resources/crowdstrike_it_automation_policy_precedence/resource.tf
  examples/resources/crowdstrike_it_automation_task/import.sh
  examples/resources/crowdstrike_it_automation_task/resource.tf
  examples/resources/crowdstrike_it_automation_task_group/import.sh
  examples/resources/crowdstrike_it_automation_task_group/resource.tf
  go.mod
  go.sum
  internal/it_automation/errors.go
  internal/it_automation/it_automation_default_policy_resource.go
  internal/it_automation/it_automation_default_policy_resource_test.go
  internal/it_automation/it_automation_policy_precedence_resource.go
  internal/it_automation/it_automation_policy_precedence_resource_test.go
  internal/it_automation/it_automation_policy_resource.go
  internal/it_automation/it_automation_policy_resource_test.go
  internal/it_automation/it_automation_task_group_resource.go
  internal/it_automation/it_automation_task_group_resource_test.go
  internal/it_automation/it_automation_task_resource.go
  internal/it_automation/it_automation_task_resource_test.go
  internal/it_automation/scopes.go
  internal/it_automation/shared.go
  internal/it_automation/shared_test.go
  internal/provider/provider.go
  internal/utils/schema.go
  internal/utils/utils.go
  templates/resources/it_automation_default_policy.md.tmpl
  templates/resources/it_automation_policy_precedence.md.tmpl
  templates/resources/it_automation_task.md.tmpl
  templates/resources/it_automation_task_group.md.tmpl
Due: go-mod-tidy, go-generate

maint: go mod tidy
  go.sum
Due: go-mod-tidy

fix it automation documentation
  docs/resources/it_automation_default_policy.md
  docs/resources/it_automation_policy.md
  docs/resources/it_automation_policy_precedence.md
  docs/resources/it_automation_task.md
  docs/resources/it_automation_task_group.md
  internal/it_automation/it_automation_default_policy_resource.go
  internal/it_automation/it_automation_policy_precedence_resource.go
  internal/it_automation/it_automation_policy_resource.go
  internal/it_automation/it_automation_task_group_resource.go
  internal/it_automation/it_automation_task_resource.go
  templates/resources/it_automation_default_policy.md.tmpl
  templates/resources/it_automation_policy_precedence.md.tmpl
  templates/resources/it_automation_task.md.tmpl
  templates/resources/it_automation_task_group.md.tmpl
Due: go-generate

feat(crowdstrike_cloud_aws_account) : bump gofalcon
  go.mod
  go.sum
Due: go-mod-tidy

feat(crowdstrike_cloud_aws_account) : rename function, rename test variables
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_data_source.go
  internal/fcs/modifiers.go
  internal/fcs/utils.go
  internal/fcs/utils_test.go
Due: go-generate

feat(crowdstrike_cloud_aws_account): fix modifier
  internal/fcs/modifiers.go
Due: go-generate

feat-container-registry
  docs/data-sources/container_registries.md
  docs/resources/container_registry.md
  examples/data-sources/crowdstrike_container_registries/data-source.tf
  examples/resources/crowdstrike_container_registry/import.sh
  examples/resources/crowdstrike_container_registry/resource.tf
  internal/container_registry/errors.go
  internal/container_registry/registries_data_source.go
  internal/container_registry/registries_data_source_test.go
  internal/container_registry/registry_resource.go
  internal/container_registry/registry_resource_test.go
  internal/container_registry/shared.go
  internal/container_registry/utils.go
  internal/provider/provider.go
Due: go-generate

Update ci.yml to approved action versions
  .github/workflows/ci.yml
Due: none

Update ci.yml to approved action versions (#171)
  .github/workflows/ci.yml
Due: none

rename cloud_posture_custom_rule to cloud_security_custom_rule
  docs/resources/cloud_posture_custom_rule.md
  examples/data-sources/crowdstrike_cloud_posture_rules/data-source.tf
  examples/resources/crowdstrike_cloud_posture_custom_rule/import.sh
  examples/resources/crowdstrike_cloud_posture_custom_rule/resource.tf
  internal/cloud_security/controls.go
  internal/cloud_security/custom_rule_resource.go
  internal/cloud_security/custom_rule_resource_test.go
  internal/cloud_security/rules_data_source.go
  internal/cloud_security/rules_data_source_test.go
  internal/cloud_security/scopes.go
  internal/cloud_security/shared.go
  internal/cloud_security/shared_config_test.go
  internal/provider/provider.go
Due: go-generate

Split tests into individual tests
  internal/cloud_security/custom_rule_resource_test.go
Due: go-generate

randomize rule names in tests
  internal/cloud_security/custom_rule_resource.go
  internal/cloud_security/custom_rule_resource_test.go
Due: go-generate

update gofalcon version
  go.mod
  go.sum
Due: go-mod-tidy

implement modify plan to inherit from parent rule
  .vscode/launch.json
  go.sum
  internal/cloud_security/custom_rule_resource.go
  internal/cloud_security/custom_rule_resource_test.go
  internal/cloud_security/shared.go
Due: go-mod-tidy, go-generate

add import state verification and inherit cycle tests for custom rule resource
  internal/cloud_security/custom_rule_resource_test.go
Due: go-generate

simplify and improve markdown documentation for custom rule resource schema fields
  internal/cloud_security/custom_rule_resource.go
Due: go-generate

custom_rule review
  internal/cloud_security/custom_rule_resource.go
  internal/tferrors/errors.go
Due: go-generate

feat(crowdstrike_cloud_aws_account): cr fixes
  docs/data-sources/cloud_aws_account.md
  docs/resources/cloud_aws_account.md
  go.mod
  go.sum
  internal/fcs/account_settings.go
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_data_source.go
  internal/fcs/cloud_aws_account_test.go
Due: go-mod-tidy, go-generate

small changes
  examples/data-sources/crowdstrike_cloud_security_rules/data-source.tf
  examples/resources/crowdstrike_cloud_security_custom_rule/import.sh
  examples/resources/crowdstrike_cloud_security_custom_rule/resource.tf
  internal/cloud_compliance/framework_control_data_source.go
  internal/cloud_security/rules_data_source.go
  internal/cloud_security/rules_data_source_test.go
Due: go-generate

remove lifecycle comment
  examples/resources/crowdstrike_cloud_security_custom_rule/resource.tf
Due: go-generate

skip update on create when remediation/alert info unchanged
  internal/cloud_security/custom_rule_resource.go
Due: go-generate

fix check and add new test
  internal/cloud_security/custom_rule_resource.go
  internal/cloud_security/custom_rule_resource_test.go
Due: go-generate

add skipping for long test
  internal/cloud_security/custom_rule_resource_test.go
  internal/cloud_security/rules_data_source_test.go
Due: go-generate

go generate
  docs/data-sources/cloud_security_rules.md
  docs/resources/cloud_posture_custom_rule.md
  docs/resources/cloud_security_custom_rule.md
Due: none

remove unused vars
  internal/cloud_security/custom_rule_resource.go
  internal/cloud_security/custom_rule_resource_test.go
Due: go-generate
