Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.4
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: true

      - id: go-generate
        name: go generate
        entry: go generate ./...
        language: system
        files: ^(examples/.*|internal/.*\.go)$
        pass_filenames: false

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.100.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_validate
        args:
          - --args=-json
        files: ^examples/resources/.*\.tf$
        exclude: ^examples/provider/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key
      - id: detect-aws-credentials

misc
  internal/fcs/cloud_aws_account.go
Due: go-generate

cleanup
  internal/fcs/cloud_aws_account.go
Due: go-generate

add cloutrailregion back to datasource, this value is known
  internal/fcs/cloud_aws_account_data_source.go
  internal/fcs/cloud_aws_account_data_source_test.go
Due: go-generate

bump gofalcon version
  go.mod
  go.sum
Due: go-mod-tidy

Readding optional fields
  internal/cloud_security/custom_kac_rule_resource.go
  internal/cloud_security/custom_kac_rule_resource_test.go
  internal/cloud_security/custom_rule_resource_test.go
  internal/cloud_security/shared.go
  internal/cloud_security/shared_config_test.go
Due: go-generate

add precedence to KAC policy resource
  docs/resources/cloud_security_kac_policy.md
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_test.go
Due: go-generate

add default rule group to kac policy schema
  docs/resources/cloud_security_kac_policy.md
  examples/resources/crowdstrike_cloud_security_kac_policy/resource.tf
  internal/cloud_security/kac_policy_resource.go
Due: go-generate

refactor with flex and tferrors helpers + fix linting errors
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_default_rules.go
  internal/cloud_security/kac_policy_resource_rule_group.go
Due: go-generate

add last_updated to kac policy resource
  docs/resources/cloud_security_kac_policy.md
  internal/cloud_security/kac_policy_resource.go
Due: go-generate

update gofalcon with latest admission-control-policies client
  docs/resources/cloud_security_kac_policy.md
  go.mod
  go.sum
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_default_rules.go
  internal/cloud_security/kac_policy_resource_rule_group.go
Due: go-mod-tidy, go-generate

add last_updated attribute back
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_modifiers.go
  internal/cloud_security/kac_policy_resource_test.go
Due: go-generate

update go.mod with local gofalcon version with KAC policy endpoints
  go.mod
  go.sum
Due: go-mod-tidy

remove policy precedence + add CRUD operations for rule groups + add default rule group handling
  docs/resources/cloud_security_kac_policy.md
  examples/resources/crowdstrike_cloud_security_kac_policy/resource.tf
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_default_rules.go
  internal/cloud_security/kac_policy_resource_rule_group.go
  internal/cloud_security/kac_policy_resource_test.go
  internal/cloud_security/scopes.go
Due: go-generate

basic KAC policy CRUD
  examples/resources/crowdstrike_cloud_security_kac_policy/import.sh
  examples/resources/crowdstrike_cloud_security_kac_policy/resource.tf
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/scopes.go
  internal/provider/provider.go
Due: go-generate

address review comments + add custom default_rule_group modifier
  docs/resources/cloud_security_kac_policy.md
  examples/resources/crowdstrike_cloud_security_kac_policy/resource.tf
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_default_rules.go
  internal/cloud_security/kac_policy_resource_modifiers.go
  internal/cloud_security/kac_policy_resource_test.go
  internal/cloud_security/scopes.go
Due: go-generate

add host groups to KAC policy resource
  docs/resources/cloud_security_kac_policy.md
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_test.go
Due: go-generate

automatically disable KAC policy before deletion
  docs/resources/cloud_security_kac_policy.md
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_test.go
Due: go-generate

add KAC policy resource example + validate policy is disabled before delete
  docs/resources/cloud_security_kac_policy.md
  examples/resources/crowdstrike_cloud_security_kac_policy/resource.tf
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/scopes.go
Due: go-generate

validate description is not empty + add tests
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_test.go
Due: go-generate

add default values in place of UseStateForUnknown + add ModifyPlan for reordering rule groups
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_default_rules.go
  internal/cloud_security/kac_policy_resource_rule_group.go
  internal/cloud_security/kac_policy_resource_test.go
Due: go-generate

make each default rule a string type instead of an object
  docs/resources/cloud_security_kac_policy.md
  examples/resources/crowdstrike_cloud_security_kac_policy/resource.tf
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_default_rules.go
  internal/cloud_security/kac_policy_resource_test.go
Due: go-generate

use reflect to wrap and unwrap default rules + update host groups test
  internal/cloud_security/kac_policy_resource_default_rules.go
  internal/cloud_security/kac_policy_resource_test.go
Due: go-generate

add rule groups to KAC policy schema
  docs/resources/cloud_security_kac_policy.md
  internal/cloud_security/kac_policy_resource.go
Due: go-generate

point gofalcon to kac-policies branch
  go.mod
  go.sum
Due: go-mod-tidy

add mutex for create and delete operations
  internal/cloud_security/kac_policy_resource.go
Due: go-generate

update gofalcon version to latest commit
  go.mod
  go.sum
Due: go-mod-tidy

Add new testing version and remove comments
  go.mod
  go.sum
  internal/cloud_security/suppression_rule_resource_test.go
Due: go-mod-tidy, go-generate

update error handling with new errors from gofalcon
  internal/cloud_security/kac_policy_resource.go
Due: go-generate

FCS AWS registration: Remove calls to cspmregistration (#222)
  docs/data-sources/cloud_aws_account.md
  docs/data-sources/cloud_aws_account_validation.md
  docs/resources/cloud_aws_account.md
  go.mod
  go.sum
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_data_source.go
  internal/fcs/cloud_aws_account_data_source_test.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/export_test.go
  internal/fcs/scopes.go
  internal/fcs/settings.go
  internal/fcs/utils.go
  internal/fcs/utils_test.go
Due: go-mod-tidy, go-generate

use ResourcePrefix for test name
  internal/cloud_security/kac_policy_resource_test.go
Due: go-generate

use utils.Addr
  internal/cloud_security/kac_policy_resource_test.go
Due: go-generate

Use new NewResourceNotFoundWarningDiagnostic
  internal/cloud_security/kac_policy_resource.go
Due: go-generate

clean up comments
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_default_rules.go
  internal/cloud_security/kac_policy_resource_rule_group.go
Due: go-generate

feat(cloud_security_kac_policy): add new resource (#223)
  docs/resources/cloud_security_kac_policy.md
  examples/resources/crowdstrike_cloud_security_kac_policy/import.sh
  examples/resources/crowdstrike_cloud_security_kac_policy/resource.tf
  go.mod
  go.sum
  internal/cloud_security/kac_policy_resource.go
  internal/cloud_security/kac_policy_resource_default_rules.go
  internal/cloud_security/kac_policy_resource_rule_group.go
  internal/cloud_security/kac_policy_resource_test.go
  internal/cloud_security/scopes.go
  internal/provider/provider.go
Due: go-mod-tidy, go-generate

add kac policy precedence resource
  docs/resources/cloud_security_kac_policy_precedence.md
  examples/resources/crowdstrike_cloud_security_kac_policy_precedence/resource.tf
  go.mod
  go.sum
  internal/cloud_security/kac_policy_precedence.go
  internal/cloud_security/kac_policy_precedence_test.go
  internal/cloud_security/kac_policy_precedence_unit_test.go
  internal/provider/provider.go
Due: go-mod-tidy, go-generate

move admission control policies client mock to it's own package
  internal/cloud_security/kac_policy_precedence_unit_test.go
  internal/cloud_security/mocks/admission_control_policies_client.go
Due: go-generate

use tferrors to handle 403 diags
  internal/sensor_update_policy/sensor_update_policy_builds_data_source.go
Due: go-generate

Update error comments
  internal/cloud_security/custom_kac_rule_resource_test.go
Due: go-generate

add bulk_maintenance_mode attribute to sensor update policy
  .golangci.yml
  docs/resources/sensor_update_policy.md
  examples/resources/crowdstrike_sensor_update_policy/resource.tf
  internal/sensor_update_policy/sensor_update_policy_resource.go
  internal/sensor_update_policy/sensor_update_policy_resource_test.go
Due: go-generate
