Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

go-mod-tidy:
  name: go mod tidy
  entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
  language: system
  pass_filenames: true

go-generate:
  name: go generate
  entry: go generate ./...
  language: system
  pass_filenames: false

add bulk_maintenance_mode attribute to default sensor update policy
  docs/resources/default_sensor_update_policy.md
  examples/resources/crowdstrike_default_sensor_update_policy/resource.tf
  internal/sensor_update_policy/default_sensor_update_policy_resource.go
  internal/sensor_update_policy/default_sensor_update_policy_resource_test.go
Due: go-generate

use ids instead of policy_ids
  internal/cloud_security/kac_policy_precedence.go
  internal/cloud_security/kac_policy_precedence_test.go
Due: go-generate

make gen
  docs/resources/cloud_security_kac_policy_precedence.md
Due: none

feat(cloud_security_kac_policy_precedence): add resource (#243)
  docs/resources/cloud_security_kac_policy_precedence.md
  examples/resources/crowdstrike_cloud_security_kac_policy_precedence/resource.tf
  go.mod
  go.sum
  internal/cloud_security/kac_policy_precedence.go
  internal/cloud_security/kac_policy_precedence_test.go
  internal/cloud_security/kac_policy_precedence_unit_test.go
  internal/cloud_security/mocks/admission_control_policies_client.go
  internal/provider/provider.go
Due: go-mod-tidy, go-generate

fix crowdstrike_cloud_security_kac_policy_precedence doc section + example
  docs/resources/cloud_security_kac_policy_precedence.md
  examples/resources/crowdstrike_cloud_security_kac_policy_precedence/resource.tf
  internal/cloud_security/kac_policy_precedence.go
Due: go-generate

fix crowdstrike_cloud_security_kac_policy_precedence doc section + example (#247)
  docs/resources/cloud_security_kac_policy_precedence.md
  examples/resources/crowdstrike_cloud_security_kac_policy_precedence/resource.tf
  internal/cloud_security/kac_policy_precedence.go
Due: go-generate

correctly handle 404 errors in host_group resource
  go.mod
  internal/host_groups/host_group_resource.go
  internal/tferrors/errors.go
Due: go-mod-tidy, go-generate

correctly handle 404 errors in host_group resource (#248)
  go.mod
  internal/host_groups/host_group_resource.go
  internal/tferrors/errors.go
Due: go-mod-tidy, go-generate

allow sensor update policy resources to manage bulk maintenance mode (#244)
  .golangci.yml
  docs/resources/default_sensor_update_policy.md
  docs/resources/sensor_update_policy.md
  examples/resources/crowdstrike_default_sensor_update_policy/resource.tf
  examples/resources/crowdstrike_sensor_update_policy/resource.tf
  internal/sensor_update_policy/default_sensor_update_policy_resource.go
  internal/sensor_update_policy/default_sensor_update_policy_resource_test.go
  internal/sensor_update_policy/sensor_update_policy_builds_data_source.go
  internal/sensor_update_policy/sensor_update_policy_resource.go
  internal/sensor_update_policy/sensor_update_policy_resource_test.go
Due: go-generate

add HandleAPIError to convert gofalcon API errors into terraform diagnostics
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
Due: go-generate

return type of diag.Diagnostic
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
Due: go-generate

rename to NewDiagnosticFromAPIError
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
Due: go-generate

add NewDiagnosticFromAPIError to handle gofalcon API errors (#249)
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
Due: go-generate

feat: Add cloud security suppression rule
  docs/resources/cloud_security_suppression_rule.md
  examples/resources/crowdstrike_cloud_security_suppression_rule/import.sh
  examples/resources/crowdstrike_cloud_security_suppression_rule/resource.tf
  go.mod
  go.sum
  internal/cloud_security/shared.go
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rule_resource_test.go
  internal/framework/modifiers/doc.go
  internal/framework/modifiers/prevent_string_clearing.go
  internal/framework/modifiers/prevent_string_clearing_test.go
  internal/framework/modifiers/string_clearing_requires_replace.go
  internal/framework/modifiers/string_clearing_requires_replace_test.go
  internal/framework/types/optional_string.go
  internal/framework/validators/string_validators.go
  internal/provider/provider.go
Due: go-mod-tidy, go-generate

Adding type to suppression rules and removing subdomain/domain
  docs/resources/cloud_security_suppression_rule.md
  examples/resources/crowdstrike_cloud_security_suppression_rule/resource.tf
  internal/cloud_security/shared.go
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rule_resource_test.go
Due: go-generate

updating validators
  internal/cloud_security/suppression_rule_resource.go
Due: go-generate

fix field names and add comment validator
  internal/cloud_security/shared.go
  internal/cloud_security/suppression_rule_resource.go
Due: go-generate

remove comments and add optional string test for Set
  internal/framework/modifiers/prevent_string_clearing_test.go
  internal/framework/types/optional_string_test.go
Due: go-generate

remove unused modifier
  internal/framework/modifiers/string_clearing_requires_replace.go
  internal/framework/modifiers/string_clearing_requires_replace_test.go
Due: go-generate

Update docs
  docs/resources/cloud_security_suppression_rule.md
Due: none

rename rule selection filter fields
  docs/resources/cloud_security_suppression_rule.md
  examples/resources/crowdstrike_cloud_security_suppression_rule/resource.tf
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rule_resource_test.go
Due: go-generate

update docs
  docs/resources/cloud_security_suppression_rule.md
  internal/cloud_security/suppression_rule_resource.go
Due: go-generate

refactor for readability
  internal/cloud_security/suppression_rule_resource.go
Due: go-generate

Refactor schema
  examples/resources/crowdstrike_cloud_security_suppression_rule/resource.tf
  go.mod
  go.sum
  internal/cloud_security/shared.go
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rule_resource_test.go
  internal/framework/modifiers/doc.go
  internal/framework/modifiers/prevent_string_clearing.go
  internal/framework/modifiers/prevent_string_clearing_test.go
  internal/framework/validators/object_validators.go
  internal/framework/validators/object_validators_test.go
Due: go-mod-tidy, go-generate

update docs
  docs/resources/cloud_security_suppression_rule.md
Due: none

Add new testing version and remove comments
  go.mod
  go.sum
  internal/cloud_security/suppression_rule_resource_test.go
Due: go-mod-tidy, go-generate

add cloud_based_anomalous_process_execution attribute to windows prevention policies
  examples/resources/crowdstrike_prevention_policy_windows/resource.tf
  internal/prevention_policy/api.go
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
  internal/prevention_policy/windows_test.go
Due: go-generate

Moved to new error handling and updated tests
  go.mod
  go.sum
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rule_resource_test.go
  internal/framework/flex/time.go
  internal/framework/flex/time_test.go
  internal/tferrors/errors.go
Due: go-mod-tidy, go-generate

make gen
  docs/resources/default_prevention_policy_windows.md
  docs/resources/prevention_policy_windows.md
Due: none

Reverting sequential testing option and migrating to new standardized error handling
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rule_resource_test.go
Due: go-generate

add cloud_based_anomalous_process_execution attribute to windows prevention policies (#252)
  docs/resources/default_prevention_policy_windows.md
  docs/resources/prevention_policy_windows.md
  examples/resources/crowdstrike_prevention_policy_windows/resource.tf
  internal/prevention_policy/api.go
  internal/prevention_policy/default_windows_policy.go
  internal/prevention_policy/default_windows_policy_test.go
  internal/prevention_policy/schema.go
  internal/prevention_policy/windows.go
  internal/prevention_policy/windows_test.go
Due: go-generate

Update internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rule_resource.go
Due: go-generate

Refactored expiration date during updates and some other things
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rule_resource_test.go
  internal/framework/flex/time.go
  internal/framework/flex/time_test.go
  internal/framework/validators/string_validators.go
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
Due: go-generate

Removed duplicate error message and added test for zeroing out fields in filters
  docs/resources/cloud_security_suppression_rule.md
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rule_resource_test.go
Due: go-generate

remove duplicate test and error messages
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rule_resource_test.go
Due: go-generate

feat: cloud_security_suppression_rule resource(#236)
  docs/resources/cloud_security_suppression_rule.md
  examples/resources/crowdstrike_cloud_security_suppression_rule/import.sh
  examples/resources/crowdstrike_cloud_security_suppression_rule/resource.tf
  go.mod
  go.sum
  internal/cloud_security/shared.go
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rule_resource_test.go
  internal/framework/flex/time.go
  internal/framework/flex/time_test.go
  internal/framework/types/optional_string.go
  internal/framework/types/optional_string_test.go
  internal/framework/validators/object_validators.go
  internal/framework/validators/object_validators_test.go
  internal/provider/provider.go
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
Due: go-mod-tidy, go-generate

feat: add us-gov-2 cloud region support
  docs/index.md
  internal/provider/provider.go
Due: go-generate

chore: Bump gofalcon v0.19.1-0.20260204001600-0a2edd56b85d
  go.mod
  go.sum
Due: go-mod-tidy

Path conditions:
  go-mod-tidy: any of: ^go\.(mod|sum)$
  go-generate: any of: ^(examples/.*|internal/.*\.go)$
