Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

go-mod-tidy:
  name: go mod tidy
  entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
  language: system
  pass_filenames: true

go-generate:
  name: go generate
  entry: go generate ./...
  language: system
  pass_filenames: false

validate host group name, hostnames, and host_ids are not empty or whitespace
  internal/framework/validators/string_validators.go
  internal/host_groups/host_group_resource.go
  internal/host_groups/host_group_resource_test.go
Due: go-generate

add crowdstrike_cloud_group resource
  docs/resources/cloud_group.md
  examples/resources/crowdstrike_cloud_group/import.sh
  examples/resources/crowdstrike_cloud_group/resource.tf
  internal/cloud_group/cloud_group.go
  internal/cloud_group/cloud_group_test.go
  internal/framework/validators/string_validators.go
  internal/provider/provider.go
Due: go-generate

enhance Makefile with additional development commands
  GNUmakefile
Due: none

refactor CI workflows and golangci-lint configuration
  .github/workflows/acceptance-tests.yml
  .github/workflows/ci.yml
  .golangci.yml
Due: none

skip fixtures in tests
  GNUmakefile
  internal/it_automation/shared_test.go
Due: go-generate

update tests
  internal/cloud_group/cloud_group.go
  internal/cloud_group/cloud_group_test.go
Due: go-generate

1
  internal/cloud_group/cloud_group.go
Due: go-generate

improvements
  docs/resources/cloud_group.md
  examples/resources/crowdstrike_cloud_group/resource.tf
  internal/cloud_group/cloud_group.go
  internal/cloud_group/cloud_group_test.go
  internal/framework/types/optional_string.go
  internal/framework/types/optional_string_test.go
  internal/framework/validators/list_validators.go
  internal/framework/validators/list_validators_test.go
  internal/provider/provider.go
Due: go-generate

define apiScopes and dataSourceApiScopes vars in api.go
  internal/sensor_update_policy/api.go
Due: go-generate

update data source with provider standard
  internal/sensor_update_policy/sensor_update_policies_data_source.go
Due: go-generate

update tests
  internal/sensor_update_policy/sensor_update_policies_data_source_test.go
Due: go-generate

remove unneccesary apiScopes
  internal/sensor_update_policy/api.go
Due: go-generate

generate
  docs/data-sources/sensor_update_policies.md
Due: none

feat: Add cloud_risks data source for Falcon Cloud Security Cloud risks findings
  docs/data-sources/cloud_risks.md
  examples/data-sources/crowdstrike_cloud_risks/data-source.tf
  internal/cloud_security/cloud_risks_data_source.go
  internal/cloud_security/cloud_risks_data_source_test.go
  internal/provider/provider.go
Due: go-generate

AWS registration: Add support to set rtvd, dspm and vuln scanning regions
  docs/resources/cloud_aws_account.md
  go.mod
  go.sum
  internal/fcs/aws_regions.go
  internal/fcs/aws_regions_test.go
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
Due: go-mod-tidy, go-generate

use export pattern to test private function
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/export_test.go
Due: go-generate

fix parseRegionsFromSettings to correctly set null typed lists and add StringListOrNull test helper
  internal/acctest/types.go
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

remove TestCloudAWSAccountModelRegionFields as it does not test resource logic
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

remove TestRegionsHandlingForAPI as it only tests framework type conversions
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

remove unnecessary comments from acceptance tests
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

add crowdstrike_cloud_group resource (#190)
  docs/resources/cloud_group.md
  examples/resources/crowdstrike_cloud_group/import.sh
  examples/resources/crowdstrike_cloud_group/resource.tf
  internal/cloud_group/cloud_group.go
  internal/cloud_group/cloud_group_test.go
  internal/framework/types/optional_string.go
  internal/framework/types/optional_string_test.go
  internal/framework/validators/list_validators.go
  internal/framework/validators/list_validators_test.go
  internal/provider/provider.go
Due: go-generate

feat(cloud_risks): add cloud risks data sources with pagination options
  docs/data-sources/cloud_risks.md
  docs/data-sources/cloud_risks_all.md
  examples/data-sources/crowdstrike_cloud_risks/data-source.tf
  examples/data-sources/crowdstrike_cloud_risks_all/data-source.tf
  internal/cloud_security/cloud_risks_all_data_source.go
  internal/cloud_security/cloud_risks_all_data_source_test.go
  internal/cloud_security/cloud_risks_data_source.go
  internal/cloud_security/cloud_risks_data_source_test.go
  internal/provider/provider.go
Due: go-generate

name and description filters
  internal/content_update_policy/content_update_policies_data_source.go
  internal/content_update_policy/content_update_policies_data_source_test.go
Due: go-generate

data source docs
  docs/data-sources/content_update_policies.md
Due: none

content update policy data source
  docs/data-sources/content_update_policies.md
  examples/data-sources/crowdstrike_content_update_policies_all/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_attributes/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_filter/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_ids/data-source.tf
  internal/content_update_policy/content_update_policies_data_source.go
  internal/content_update_policy/content_update_policies_data_source_test.go
  internal/provider/provider.go
Due: go-generate

generate
  docs/data-sources/content_update_policies.md
Due: none

one example file
  examples/data-sources/crowdstrike_content_update_policies/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_all/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_attributes/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_filter/data-source.tf
  examples/data-sources/crowdstrike_content_update_policies_ids/data-source.tf
Due: go-generate

define dataSourceApiScopes var in api.go
  internal/content_update_policy/api.go
Due: go-generate

update tests and remove platform name
  internal/content_update_policy/content_update_policies_data_source_test.go
Due: go-generate

update data source to fit provider standard and remove platformname
  internal/content_update_policy/content_update_policies_data_source.go
Due: go-generate

fix: correct cloud_group API scope documentation
  docs/resources/cloud_group.md
  internal/cloud_group/cloud_group.go
Due: go-generate

add comprehensive help target to Makefile with usage examples
  GNUmakefile
Due: none

Fix integration tests
  go.mod
  internal/fcs/aws_regions.go
  internal/fcs/aws_regions_test.go
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/export_test.go
Due: go-mod-tidy, go-generate

filvantage policies data source
  docs/data-sources/filevantage_policies.md
  examples/data-sources/crowdstrike_filevantage_policies/data-source.tf
  internal/fim/filevantage_policies_data_source.go
  internal/fim/filevantage_policies_data_source_test.go
  internal/provider/provider.go
Due: go-generate

generate
  docs/data-sources/filevantage_policies.md
Due: none

feat: add Google Cloud registration resources
  GNUmakefile
  docs/resources/cloud_google_registration.md
  docs/resources/cloud_google_registration_logging_settings.md
  examples/resources/crowdstrike_cloud_google_registration/import.sh
  examples/resources/crowdstrike_cloud_google_registration/resource.tf
  examples/resources/crowdstrike_cloud_google_registration_logging_settings/import.sh
  examples/resources/crowdstrike_cloud_google_registration_logging_settings/resource.tf
  go.mod
  go.sum
  internal/acctest/list.go
  internal/acctest/list_test.go
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_logging_settings.go
  internal/cloud_google_registration/cloud_google_registration_logging_settings_test.go
  internal/cloud_google_registration/cloud_google_registration_test.go
  internal/framework/flex/string.go
  internal/framework/flex/string_test.go
  internal/provider/provider.go
  internal/tferrors/errors.go
Due: go-mod-tidy, go-generate

simplify import examples for Google Cloud registration
  docs/resources/cloud_google_registration.md
  examples/resources/crowdstrike_cloud_google_registration/import.sh
Due: go-generate

Path conditions:
  go-mod-tidy: any of: ^go\.(mod|sum)$
  go-generate: any of: ^(examples/.*|internal/.*\.go)$
