Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

go-mod-tidy:
  name: go mod tidy
  entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
  language: system
  pass_filenames: true

go-generate:
  name: go generate
  entry: go generate ./...
  language: system
  pass_filenames: false

feat: add Google Cloud registration resources (#197)
  docs/resources/cloud_google_registration.md
  docs/resources/cloud_google_registration_logging_settings.md
  examples/resources/crowdstrike_cloud_google_registration/import.sh
  examples/resources/crowdstrike_cloud_google_registration/resource.tf
  examples/resources/crowdstrike_cloud_google_registration_logging_settings/import.sh
  examples/resources/crowdstrike_cloud_google_registration_logging_settings/resource.tf
  internal/acctest/list.go
  internal/acctest/list_test.go
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_logging_settings.go
  internal/cloud_google_registration/cloud_google_registration_logging_settings_test.go
  internal/cloud_google_registration/cloud_google_registration_test.go
  internal/framework/flex/string.go
  internal/framework/flex/string_test.go
  internal/provider/provider.go
Due: go-generate

feat(real_time_visibility_and_detection): adds new s3 log ingestion method
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

add health check api call
  go.mod
  go.sum
  internal/cloud_google_registration/cloud_google_registration_logging_settings.go
Due: go-mod-tidy, go-generate

AWS registration: Add support to set rtvd, dspm and vuln scanning regions
  docs/resources/cloud_aws_account.md
  go.mod
  internal/acctest/types.go
  internal/fcs/aws_regions.go
  internal/fcs/aws_regions_test.go
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/export_test.go
Due: go-mod-tidy, go-generate

use latest gofalcon version
  go.mod
  go.sum
Due: go-mod-tidy

add google cloud registration resources (#207)
  docs/resources/cloud_google_registration.md
  docs/resources/cloud_google_registration_logging_settings.md
  examples/resources/crowdstrike_cloud_google_registration/import.sh
  examples/resources/crowdstrike_cloud_google_registration/resource.tf
  examples/resources/crowdstrike_cloud_google_registration_logging_settings/import.sh
  examples/resources/crowdstrike_cloud_google_registration_logging_settings/resource.tf
  go.mod
  go.sum
  internal/acctest/list.go
  internal/acctest/list_test.go
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_logging_settings.go
  internal/cloud_google_registration/cloud_google_registration_logging_settings_test.go
  internal/cloud_google_registration/cloud_google_registration_test.go
  internal/framework/flex/string.go
  internal/framework/flex/string_test.go
  internal/provider/provider.go
Due: go-mod-tidy, go-generate

docs: clarify google cloud registration logging settings description
  docs/resources/cloud_google_registration_logging_settings.md
  internal/cloud_google_registration/cloud_google_registration_logging_settings.go
Due: go-generate

docs: clarify google cloud registration logging settings description (#208)
  docs/resources/cloud_google_registration_logging_settings.md
  internal/cloud_google_registration/cloud_google_registration_logging_settings.go
Due: go-generate

feat: add s3 log ingestion method params (#176)
  docs/resources/cloud_aws_account.md
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

fix: update health check to use new endpoint
  go.mod
  go.sum
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_test.go
Due: go-mod-tidy, go-generate

remove unused validator
  internal/fcs/aws_regions.go
  internal/fcs/aws_regions_test.go
Due: go-generate

add test to check regions can be set to empty list
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

remove ParseRegionsFromSettings
  internal/fcs/export_test.go
Due: go-generate

fix state issues to ensure regions are correctly set
  go.mod
  internal/fcs/cloud_aws_account.go
Due: go-mod-tidy, go-generate

misc
  docs/resources/cloud_aws_account.md
  go.sum
  internal/fcs/cloud_aws_account.go
Due: go-mod-tidy, go-generate

wip
  internal/acctest/set.go
  internal/acctest/set_test.go
  internal/framework/flex/list.go
  internal/framework/flex/list_test.go
  internal/framework/flex/set.go
  internal/framework/flex/set_test.go
  internal/prevention_policy/export_test.go
  internal/prevention_policy/prevention_policy_attachment.go
  internal/prevention_policy/prevention_policy_attachment_test.go
Due: go-generate

feat(cloud-aws-registration): add new data source "cloud_aws_account_validation"
  internal/fcs/cloud_aws_account_validation_data_source.go
  internal/fcs/cloud_aws_account_validation_data_source_test.go
Due: go-generate

update
  examples/data-sources/crowdstrike_cloud_aws_account_validation/data-source.tf
  internal/provider/provider.go
Due: go-generate

feat(cloud-azure-registration): call validate registration API in update event hub settings resource
  internal/fcs/cloud_azure_tenant_eventhub_settings.go
Due: go-generate

update gofalcon version
  go.mod
  go.sum
  internal/cloud_google_registration/cloud_google_registration_test.go
Due: go-mod-tidy, go-generate

add exclusive attribute
  docs/resources/prevention_policy_attachment.md
  examples/resources/crowdstrike_prevention_policy_attachment/resource.tf
  internal/acctest/set.go
  internal/acctest/set_test.go
  internal/framework/flex/list.go
  internal/framework/flex/list_test.go
  internal/framework/flex/set.go
  internal/framework/flex/set_test.go
  internal/framework/flex/utils.go
  internal/framework/flex/utils_test.go
  internal/prevention_policy/export_test.go
  internal/prevention_policy/prevention_policy_attachment.go
  internal/prevention_policy/prevention_policy_attachment_test.go
Due: go-generate

fix lint errors
  internal/prevention_policy/prevention_policy_attachment.go
  internal/prevention_policy/prevention_policy_attachment_test.go
Due: go-generate

Remove types.go with reduntant function
  internal/acctest/types.go
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

use mapstructure to parse regions and log ingestion settings
  go.mod
  go.sum
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/export_test.go
  internal/fcs/settings.go
  internal/fcs/settings_test.go
Due: go-mod-tidy, go-generate

Remove dspm and vuln scanning regions support
  docs/resources/cloud_aws_account.md
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/settings.go
  internal/fcs/settings_test.go
Due: go-generate

feat: add exclusive mode to prevention_policy_attachment resource (#216)
  docs/resources/prevention_policy_attachment.md
  examples/resources/crowdstrike_prevention_policy_attachment/resource.tf
  internal/acctest/set.go
  internal/acctest/set_test.go
  internal/framework/flex/list.go
  internal/framework/flex/list_test.go
  internal/framework/flex/set.go
  internal/framework/flex/set_test.go
  internal/framework/flex/utils.go
  internal/framework/flex/utils_test.go
  internal/prevention_policy/export_test.go
  internal/prevention_policy/prevention_policy_attachment.go
  internal/prevention_policy/prevention_policy_attachment_test.go
Due: go-generate

fix: update health check to use new endpoint (#210)
  go.mod
  go.sum
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_test.go
Due: go-mod-tidy, go-generate

Remove dspm and vuln scanning regions from tests
  internal/fcs/cloud_aws_account_test.go
Due: go-generate

AWS registration: Add support to set rtvd regions (#181)
  docs/resources/cloud_aws_account.md
  go.mod
  go.sum
  internal/fcs/aws_regions.go
  internal/fcs/aws_regions_test.go
  internal/fcs/cloud_aws_account.go
  internal/fcs/cloud_aws_account_test.go
  internal/fcs/export_test.go
  internal/fcs/settings.go
  internal/fcs/settings_test.go
Due: go-mod-tidy, go-generate

update
  docs/data-sources/cloud_aws_account_validation.md
  examples/data-sources/crowdstrike_cloud_aws_account_validation/data-source.tf
  go.mod
  go.sum
  internal/fcs/cloud_aws_account_validation_data_source.go
  internal/fcs/cloud_aws_account_validation_data_source_test.go
Due: go-mod-tidy, go-generate

update
  examples/data-sources/crowdstrike_cloud_aws_account_validation/data-source.tf
Due: go-generate

add unit test
  go.mod
  go.sum
  internal/fcs/cloud_aws_account_validation_data_source_unit_test.go
Due: go-mod-tidy, go-generate

update
  internal/fcs/cloud_aws_account_validation_data_source.go
Due: go-generate

Path conditions:
  go-mod-tidy: any of: ^go\.(mod|sum)$
  go-generate: any of: ^(examples/.*|internal/.*\.go)$
