Repository CrowdStrike/terraform-provider-crowdstrike: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.4
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        entry: sh -c 'cd "$(dirname "$1")" && go mod tidy' --
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: true

      - id: go-generate
        name: go generate
        entry: go generate ./...
        language: system
        files: ^(examples/.*|internal/.*\.go)$
        pass_filenames: false

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.100.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_validate
        args:
          - --args=-json
        files: ^examples/resources/.*\.tf$
        exclude: ^examples/provider/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key
      - id: detect-aws-credentials

feat: add custom_ioc data source
  docs/data-sources/custom_ioc.md
  examples/data-sources/crowdstrike_custom_ioc/data-source.tf
  internal/custom_ioc/custom_ioc_data_source.go
  internal/custom_ioc/custom_ioc_data_source_test.go
  internal/custom_ioc/custom_ioc_data_source_unit_test.go
  internal/provider/provider.go
Due: go-generate

Address PR comments
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_settings.go
  internal/cloud_google_registration/cloud_google_registration_test.go
Due: go-generate

update md file
  docs/resources/cloud_google_registration_settings.md
Due: none

correctly treat unknown existing_wif_pool_id as unset in Create
  internal/cloud_google_registration/cloud_google_registration.go
Due: go-generate

feat(cloudregistration): use existing wif pool for GCP (#501)
  docs/resources/cloud_google_registration.md
  examples/resources/crowdstrike_cloud_google_registration/resource.tf
  internal/cloud_google_registration/cloud_google_registration.go
  internal/cloud_google_registration/cloud_google_registration_settings.go
  internal/cloud_google_registration/cloud_google_registration_test.go
Due: go-generate

chore(deps): bump gofalcon to 4fa3655 and fix SDK breaking changes
  go.mod
  go.sum
  internal/clientoverrides/cloud_risks.go
  internal/clientoverrides/cloud_risks_test.go
  internal/cloud_group/cloud_group_data_source.go
  internal/cloud_security/cloud_risk_findings_data_source.go
  internal/data_protection/content_pattern_resource.go
  internal/data_protection/policy_resource_test.go
  internal/data_protection/sensitivity_label_resource.go
  internal/data_protection/sweep.go
  internal/fcs/sweep.go
  internal/it_automation/shared_test.go
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
  internal/user_group/sweep.go
  internal/user_group/user_group_resource.go
Due: go-mod-tidy, go-generate

chore(deps): bump gofalcon to 4fa3655 and fix SDK breaking changes (#508)
  go.mod
  go.sum
  internal/clientoverrides/cloud_risks.go
  internal/clientoverrides/cloud_risks_test.go
  internal/cloud_group/cloud_group_data_source.go
  internal/cloud_security/cloud_risk_findings_data_source.go
  internal/data_protection/content_pattern_resource.go
  internal/data_protection/policy_resource_test.go
  internal/data_protection/sensitivity_label_resource.go
  internal/data_protection/sweep.go
  internal/fcs/sweep.go
  internal/it_automation/shared_test.go
  internal/tferrors/errors.go
  internal/tferrors/errors_test.go
  internal/user_group/sweep.go
  internal/user_group/user_group_resource.go
Due: go-mod-tidy, go-generate

docs(cloud_security): use custom controls in iom_custom_rule examples
  docs/resources/cloud_security_iom_custom_rule.md
  examples/resources/crowdstrike_cloud_security_iom_custom_rule/resource.tf
  internal/cloud_security/custom_iom_rule_resource.go
Due: go-generate

docs(cloud_security): clarify parent_rule_id inheritance for iom_custom_rule
  docs/resources/cloud_security_iom_custom_rule.md
  internal/cloud_security/custom_iom_rule_resource.go
Due: go-generate

fix(cloud_security): support custom controls and fix copy rules in iom_custom_rule (#500)
  docs/resources/cloud_security_iom_custom_rule.md
  examples/resources/crowdstrike_cloud_security_iom_custom_rule/resource.tf
  internal/cloud_security/custom_iac_rule_resource.go
  internal/cloud_security/custom_iom_rule_resource.go
  internal/cloud_security/custom_iom_rule_resource_test.go
  internal/cloud_security/custom_kac_rule_resource.go
  internal/cloud_security/custom_rule_resource_test.go
  internal/cloud_security/rules_data_source.go
  internal/cloud_security/rules_data_source_test.go
  internal/cloud_security/shared.go
  internal/cloud_security/shared_config_test.go
Due: go-generate

test: match wrapped API error text in two ExpectError regexes
  internal/cloud_security/suppression_rule_resource_test.go
  internal/host_groups/host_group_members_data_source_test.go
Due: go-generate

test: match wrapped API error text in two ExpectError regexes (#510)
  internal/cloud_security/suppression_rule_resource_test.go
  internal/host_groups/host_group_members_data_source_test.go
Due: go-generate

feat(network_containment): add allowlist rule resource and data source
  docs/data-sources/network_containment_allowlist_rules.md
  docs/resources/network_containment_allowlist_rule.md
  examples/data-sources/crowdstrike_network_containment_allowlist_rules/data-source.tf
  examples/resources/crowdstrike_network_containment_allowlist_rule/import.sh
  examples/resources/crowdstrike_network_containment_allowlist_rule/resource.tf
  internal/network_containment/export_test.go
  internal/network_containment/models.go
  internal/network_containment/network_containment_allowlist_rule_resource.go
  internal/network_containment/network_containment_allowlist_rule_resource_test.go
  internal/network_containment/network_containment_allowlist_rules_data_source.go
  internal/network_containment/network_containment_allowlist_rules_data_source_test.go
  internal/network_containment/sweep.go
  internal/provider/provider.go
  internal/sweep/sweep_test.go
Due: go-generate

test(network_containment): expand allowlist rule acceptance tests
  internal/network_containment/network_containment_allowlist_rule_resource_test.go
Due: go-generate

feat(network_containment): add allowlist rule resource and data source (#511)
  docs/data-sources/network_containment_allowlist_rules.md
  docs/resources/network_containment_allowlist_rule.md
  examples/data-sources/crowdstrike_network_containment_allowlist_rules/data-source.tf
  examples/resources/crowdstrike_network_containment_allowlist_rule/import.sh
  examples/resources/crowdstrike_network_containment_allowlist_rule/resource.tf
  internal/network_containment/export_test.go
  internal/network_containment/models.go
  internal/network_containment/network_containment_allowlist_rule_resource.go
  internal/network_containment/network_containment_allowlist_rule_resource_test.go
  internal/network_containment/network_containment_allowlist_rules_data_source.go
  internal/network_containment/network_containment_allowlist_rules_data_source_test.go
  internal/network_containment/sweep.go
  internal/provider/provider.go
  internal/sweep/sweep_test.go
Due: go-generate

feat(fusion_soar): add crowdstrike_fusion_soar_workflow resource
  docs/resources/fusion_soar_workflow.md
  examples/resources/crowdstrike_fusion_soar_workflow/import.sh
  examples/resources/crowdstrike_fusion_soar_workflow/resource.tf
  examples/resources/crowdstrike_fusion_soar_workflow/workflow.yaml
  go.mod
  internal/clientoverrides/yaml.go
  internal/fusion_soar/definition.go
  internal/fusion_soar/definition_test.go
  internal/fusion_soar/export_test.go
  internal/fusion_soar/fusion_soar_workflow_overrides.go
  internal/fusion_soar/fusion_soar_workflow_overrides_test.go
  internal/fusion_soar/fusion_soar_workflow_resource.go
  internal/fusion_soar/fusion_soar_workflow_resource_test.go
  internal/fusion_soar/sweep.go
  internal/provider/provider.go
  internal/sweep/sweep_test.go
  internal/testconfig/client.go
  research/fusion-workflow/FINDINGS.md
  research/fusion-workflow/samples/a.yaml
  research/fusion-workflow/samples/a_put.yaml
  research/fusion-workflow/samples/b.yaml
  research/fusion-workflow/samples/export_a.yaml
  research/fusion-workflow/samples/export_b_raw.yaml
  research/fusion-workflow/samples/export_b_sanitized.yaml
  research/fusion-workflow/samples/fapi.sh
Due: go-mod-tidy, go-generate

refactor(acctest): make disappears check a statecheck with full state
  internal/acctest/acctest.go
  internal/acctest/disappears.go
  internal/cid_group/cid_group_resource_gen_test.go
  internal/content_update_policy/content_update_policy_resource_gen_test.go
  internal/data_protection/data_protection_content_pattern_resource_gen_test.go
  internal/data_protection/data_protection_policy_resource_gen_test.go
  internal/host_groups/host_group_resource_gen_test.go
  internal/response_policy/response_policy_resource_gen_test.go
  tools/testgen/README.md
  tools/testgen/render.go
  tools/testgen/testdata/golden/widget_resource_gen_test.go
Due: go-generate

refactor(testgen): improve schema-driven test generation
  internal/cid_group/cid_group_resource_gen_test.go
  internal/content_update_policy/content_update_policy_resource_gen_test.go
  internal/content_update_policy/default_content_update_policy_resource_gen_test.go
  internal/data_protection/data_protection_content_pattern_resource_gen_test.go
  internal/data_protection/data_protection_policy_resource_gen_test.go
  internal/data_protection/testgen.go
  internal/host_groups/host_group_resource_gen_test.go
  internal/host_groups/testgen.go
  internal/response_policy/response_policy_resource_gen_test.go
  internal/testgen/testgen.go
  tools/testgen/README.md
  tools/testgen/model.go
  tools/testgen/render.go
  tools/testgen/resources.go
  tools/testgen/rules.go
  tools/testgen/testdata/golden/testdata/widget/main.tf
  tools/testgen/testdata/golden/widget_resource_gen_test.go
  tools/testgen/testgen_test.go
  tools/testgen/values.go
Due: go-generate

refactor(testgen): read validators and plan modifiers by reflection
  tools/testgen/README.md
  tools/testgen/main.go
  tools/testgen/model.go
  tools/testgen/render.go
  tools/testgen/resources.go
  tools/testgen/rules.go
  tools/testgen/testgen_test.go
  tools/testgen/validate.go
  tools/testgen/values.go
Due: none

chore(deps): bump terraform plugin libraries, go-openapi/runtime, and grpc
  docs/index.md
  docs/resources/user.md
  go.mod
  go.sum
Due: go-mod-tidy

Add CloudRisk suppression rule support
  docs/data-sources/cloud_security_suppression_rules.md
  docs/resources/cloud_security_suppression_rule.md
  examples/data-sources/crowdstrike_cloud_security_suppression_rules/data-source.tf
  examples/resources/crowdstrike_cloud_security_suppression_rule/resource.tf
  internal/cloud_security/shared.go
  internal/cloud_security/suppression_rule_resource.go
  internal/cloud_security/suppression_rule_resource_test.go
  internal/cloud_security/suppression_rules_data_source.go
Due: go-generate

feat(fusion_soar): add crowdstrike_fusion_soar_workflow resource
  docs/resources/fusion_soar_workflow.md
  examples/resources/crowdstrike_fusion_soar_workflow/import.sh
  examples/resources/crowdstrike_fusion_soar_workflow/resource.tf
  examples/resources/crowdstrike_fusion_soar_workflow/workflow.yaml
  go.mod
  internal/clientoverrides/yaml.go
  internal/fusion_soar/definition.go
  internal/fusion_soar/definition_test.go
  internal/fusion_soar/export_test.go
  internal/fusion_soar/fusion_soar_workflow_overrides.go
  internal/fusion_soar/fusion_soar_workflow_overrides_test.go
  internal/fusion_soar/fusion_soar_workflow_resource.go
  internal/fusion_soar/fusion_soar_workflow_resource_test.go
  internal/fusion_soar/sweep.go
  internal/provider/provider.go
  internal/sweep/sweep_test.go
  internal/testconfig/client.go
Due: go-mod-tidy, go-generate

feat(fusion_soar): add crowdstrike_fusion_soar_workflow resource (#512)
  docs/resources/fusion_soar_workflow.md
  examples/resources/crowdstrike_fusion_soar_workflow/import.sh
  examples/resources/crowdstrike_fusion_soar_workflow/resource.tf
  examples/resources/crowdstrike_fusion_soar_workflow/workflow.yaml
  go.mod
  internal/clientoverrides/yaml.go
  internal/fusion_soar/definition.go
  internal/fusion_soar/definition_test.go
  internal/fusion_soar/export_test.go
  internal/fusion_soar/fusion_soar_workflow_overrides.go
  internal/fusion_soar/fusion_soar_workflow_overrides_test.go
  internal/fusion_soar/fusion_soar_workflow_resource.go
  internal/fusion_soar/fusion_soar_workflow_resource_test.go
  internal/fusion_soar/sweep.go
  internal/provider/provider.go
  internal/sweep/sweep_test.go
  internal/testconfig/client.go
Due: go-mod-tidy, go-generate

chore(deps): bump terraform plugin libraries, go-openapi/runtime, and grpc (#513)
  docs/index.md
  docs/resources/user.md
  go.mod
  go.sum
Due: go-mod-tidy

fix(cloud_security): make crowdstrike_cloud_security_rules fast at wide scope
  docs/data-sources/cloud_security_rules.md
  internal/cloud_security/rules_data_source.go
  internal/cloud_security/rules_data_source_test.go
Due: go-generate

feat(ioa_rule_group): match rules by optional local_key
  docs/resources/ioa_rule_group.md
  examples/resources/crowdstrike_ioa_rule_group/resource.tf
  internal/ioa_rule_group/ioa_rule_group_resource.go
  internal/ioa_rule_group/ioa_rule_group_resource_test.go
  internal/ioa_rule_group/rule_pairing.go
  internal/ioa_rule_group/rule_pairing_test.go
  internal/ioa_rule_group/testdata/imported_rule_group/main.tf
  internal/ioa_rule_group/testdata/rule_group/main.tf
Due: go-generate

feat(ioa_rule_group): match rules by optional local_key (#517)
  docs/resources/ioa_rule_group.md
  examples/resources/crowdstrike_ioa_rule_group/resource.tf
  internal/ioa_rule_group/ioa_rule_group_resource.go
  internal/ioa_rule_group/ioa_rule_group_resource_test.go
  internal/ioa_rule_group/rule_pairing.go
  internal/ioa_rule_group/rule_pairing_test.go
  internal/ioa_rule_group/testdata/imported_rule_group/main.tf
  internal/ioa_rule_group/testdata/rule_group/main.tf
Due: go-generate

fix(cloud_security): make crowdstrike_cloud_security_rules fast at wide scope (#516)
  docs/data-sources/cloud_security_rules.md
  internal/cloud_security/rules_data_source.go
  internal/cloud_security/rules_data_source_test.go
Due: go-generate
